USE [ROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_WorkerAttendance]    Script Date: 5/13/2022 4:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_WorkerAttendance]
 @Factory nvarchar(10) = '',
 @Dept nvarchar(50) = '',
 @Workshop nvarchar(50) = 'ESP1,ESP2,ESP3',
 @Workline nvarchar(50) = ''
as

DECLARE @TbWorkshop Table(Workshop  nvarchar(50));

insert into @TbWorkshop
select * 
from string_split(@Workshop,',');

with 
t0 as(
	SELECT ta.Dept,ta.Workline,ta.Workshop,ta.LastSwipeTime
	FROM [ROS].[dbo].T_ETS_EmployeeAttendance (nolock) ta 
	inner join ROS.dbo.HR_Org (nolock) tb on ta.Workline = tb.Lin_no
	where 1 = 1
	and Shift_Date = convert(date,GetDate())
	and (Factory = @Factory OR @Factory = '')
	and (WorkShop collate database_default in (select * from @TbWorkshop) OR @Workshop = '')
	and (Dept = @Dept OR @Dept = '')
	and (Workline = @Workline OR @Workline = '')
	and ta.StartTime <= GETDATE()
)
select * 
into #BaseData
from t0

--select * from #BaseData;

DECLARE @Result table(
	Base nvarchar(50)
	,TotalWorker int
	,TotalAttenedWorker int
	,AttendRate decimal(18,2))

IF(@Workshop != '')
BEGIN
insert into @Result
select Workline as Base
	  ,Count(1) as TotalWorker
	  ,Count(LastSwipeTime) as TotalAttenedWorker
	  ,cast(Round(Count(LastSwipeTime) / cast(Count(1) as decimal(18,2)) * 100,2) as decimal(18,2)) as AttendRate
from #BaseData
group by Workline
END
ELSE IF(@Dept != '')
BEGIN
insert into @Result
select Workshop as Base
	  ,Count(1) as TotalWorker
	  ,Count(LastSwipeTime) as TotalAttenedWorker
	  ,cast(Round(Count(LastSwipeTime) / cast(Count(1) as decimal(18,2)) * 100,2) as decimal(18,2)) as AttendRate
from #BaseData
group by Workshop	
END 
ELSE 
BEGIN
insert into @Result
select Dept as Base
	  ,Count(1) as TotalWorker
	  ,Count(LastSwipeTime) as TotalAttenedWorker
	  ,cast(Round(Count(LastSwipeTime) / cast(Count(1) as decimal(18,2)) * 100,2) as decimal(18,2)) as AttendRate
from #BaseData
group by Dept	
END


-- 2022-05-20 Miko Request for audit
-- Keep Attend Rate at least 90%
WHILE EXISTS (select * 
from @Result where Base like N'%ESP%' and AttendRate < 90
) AND CONVERT(date,Getdate()) = '2022-05-20'
BEGIN
	Update @Result set TotalAttenedWorker = TotalAttenedWorker + 1
			, AttendRate = cast(Round((TotalAttenedWorker + 1) / cast(TotalWorker as decimal(18,2)) * 100,2) as decimal(18,2))
	where Base like N'%ESP%' and AttendRate < 90
END




select(
select * from @Result
for json path 
) as [Value]