USE [ROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_TargetOutputHourSummary]    Script Date: 10/28/2021 4:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_WorkshopMatingPlan]
 @Workshop nvarchar(50) = 'E5'
as 
select ta.*
into #Base
from T_WorkshopMatingPlan (nolock)  ta 
where 1 = 1
and Workshop = @Workshop;

select * 
into #MOBases
from T_ETS_MOInProduction(nolock) where ZDCODE collate database_default in (select distinct Zdcode from #Base)

select ZDCODE,STYLE_NO as StyleNo
	 ,Sum(Quantity) as MOQty
	 ,ColorNo = STUFF(
             (SELECT ',' + COLOR_NO 
              FROM #MOBases t1
              WHERE t1.ZDCODE = ta.ZDCODE
			  group by COLOR_NO
              FOR XML PATH (''))
        , 1, 1, '')
	 
into #MOStyleColor
from #MOBases ta
group by ZDCODE,STYLE_NO;

select (
select ta.Workline,
	   te.StyleNo,
	   te.ColorNo,
	   ta.Zdcode,
	   ta.TargetQty,
	   isnull(tb.TotalQty,0) as WorklineInQty,
	   case when ta.TargetQty > 0  then ta.TargetQty - isnull(tb.TotalQty,0) else 0 end  as WorklineLackInQty,
	   te.MOQty,			 
	   isnull(td.TotalQty,0) as MatingOutput,
	   te.MOQty - isnull(td.TotalQty,0) as LackMatingOutput,
	   isnull(tc.Quantity,0) as TotalMating,
	   te.MOQty - isnull(tc.Quantity,0) as LackMating
from #Base ta 
inner join #MOStyleColor te on ta.Zdcode = te.ZDCODE collate database_default
left join [T_MatingWorklineIn](nolock) tb on ta.Zdcode = tb.Zdcode and ta.Workline = tb.Workline
left join ETS_MO_MatingProgress(nolock) tc on ta.Zdcode = tc.Zdcode 
left join T_MatingOutput(nolock) td on ta.Zdcode = td.Zdcode collate database_default
order by Zdcode
for json path, include_null_values
) as Value