USE [ETSDB_Regina]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_RM019]    Script Date: 11/15/2021 2:58:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LL_RM019] 
 @pMO nvarchar(max) = '000083005999,000077014225'
--DECLARE @pSO nvarchar(max) = 'A160085914';
--DECLARE @pSOItem nvarchar(max) = '';
--DECLARE @pCustomer nvarchar(max) = '';
 as

--DECLARE @pMO nvarchar(max) = '000083005999,000077014225';
------------------------
DECLARE @MO table(Zdcode nvarchar(20));
insert into @MO
select [NAME] 
from SplitString(@pMO,',');
-------------------------------

select Zdcode,Bundleid
	  ,Min(case when State = 1 then BillDate else null end) as InFQC
	  ,Max(case when State = 2 then BillDate else null end) as OutFQC 
	  ,Max(Billdate) as LastTime
into #FQCData
from T_StoreInOutFlow(nolock) ta 
where 1 = 1
-- --Ignore this condition Only get In/ Out Warehouse
and InOutType = 0  
--- Input Value Checker
--and Zdcode in ('000083005999','000077014225')
and (@pMO = '' OR ta.Zdcode in (select * from @MO))
-- Store List -- 
and StoreNo = 'D618FQC'
group by Zdcode,Bundleid;



--drop table if exists #NextStore;
with t1 as(
select ta.Zdcode,ta.StoreNo,ta.Bundleid,ROW_NUMBER() over (Partition by ta.Zdcode,ta.Bundleid Order by ta.BillDate desc) as RN
from T_StoreInOutFlow(nolock) ta
inner join #FQCData tb on ta.Zdcode = tb.Zdcode and ta.Bundleid = tb.Bundleid --and ta.Billdate >= tb.LastTime
where 1 = 1
-- --Ignore this condition Only get In/ Out Warehouse
and InOutType = 0  
and State = 1
and StoreNo in ('DMOD01', 'DMOD02', 'DPMT', 'DTSW1','DTSW2')
)
select * 
into #NextStore
from t1 where RN = 1;



--drop table if exists #EmployeeData;
with t1 as(
select ta.Zdcode,WorkLine,ta.Bundleid,ROW_NUMBER() over (Partition by ta.Zdcode,ta.Bundleid Order by ta.BillDate desc) as RN
from T_JJB(nolock) ta
inner join #FQCData tb on ta.Zdcode = tb.Zdcode and ta.Bundleid = tb.Bundleid and (tb.OutFQC is not null and ta.EndDate >= tb.OutFQC)
where 1 = 1
)
select * 
into #EmployeeData
from t1 where RN = 1;


with t1 as(
select ta.Zdcode,ta.Bundleid,ta.InFQC,ta.OutFQC,tb.StoreNo,tc.WorkLine 
from #FQCData ta 
left join #NextStore tb on ta.Bundleid = tb.Bundleid and ta.Zdcode = tb.Zdcode
left join #EmployeeData tc on ta.Bundleid = tc.BundleId and ta.Zdcode = tc.ZDCode
),
t2 as(
select t1.*,ta.cCount,tc.ProductArea,ta.ColorNo
from t1
inner join tbauGroupCard(nolock) ta on ta.ID = t1.Bundleid
inner join T_SCZZD(nolock) tb on t1.Zdcode = tb.ZDCODE
left join TWorkLine(nolock) tc on t1.WorkLine is not null and t1.WorkLine = tc.WorkLineName
),
t3 as(
select Zdcode,ColorNo,'D618FQC' as WorkShopLine
		,Sum(case when InFQC is not null then cCount else 0 end) as TotalIn 
		,Sum(case when OutFQC is not null then cCount else 0 end) as TotalOut
		,0 as NextStoreIn
		,0 as WorkerResult
		,0 as [Priority]
from t2
group by Zdcode,ColorNo
),
t4 as(
select Zdcode,ColorNo,WorkShopLine = STUFF((
            SELECT distinct ',' + StoreNo
            FROM t2 ta 
			where ta.Zdcode = t2.Zdcode
            FOR XML PATH('')
            ), 1, 1, '')
		,Sum(case when InFQC is not null then cCount else 0 end) as TotalIn 
		,Sum(case when OutFQC is not null then cCount else 0 end) as TotalOut
		,Sum(case when StoreNo is not null then cCount else 0 end) as NextStoreIn
		,0 as WorkerResult
		,1 as [Priority]
from t2
group by Zdcode,ColorNo
),
t5 as(
select Zdcode,ColorNo,WorkShopLine = STUFF((
            SELECT distinct ',' + WorkLine
            FROM t2 ta 
			where ta.Zdcode = t2.Zdcode
            FOR XML PATH('')
            ), 1, 1, '')
		,Sum(case when InFQC is not null then cCount else 0 end) as TotalIn 
		,Sum(case when OutFQC is not null then cCount else 0 end) as TotalOut
		,Sum(case when StoreNo is not null then cCount else 0 end) as NextStoreIn
		,Sum(case when WorkLine is not null then cCount else 0 end) as WorkerResult
		,2 as [Priority]
from t2
group by Zdcode,ColorNo
),
t6 as(
select * from t5 
union all 
select * from t4
union all 
select * from t3 
)
select t6.WorkShopLine,ta.SaleNo,ta.SOItemNo,ta.STYLE_NO as StyleNo,ta.ZDCODE,t6.ColorNo,ta.MY_COUNT as MOQty
	  ,t6.TotalIn,t6.TotalOut,t6.NextStoreIn,t6.WorkerResult 
from t6 
inner join T_SCZZD(nolock) ta on t6.Zdcode = ta.ZDCODE
order by Zdcode,[Priority]
for json path,include_null_values
