-- Created in 172.19.18.58.ORP

USE [ORP]
GO
/****** Object:  StoredProcedure [dbo].[SP_RM003]    Script Date: 11/10/2021 2:24:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_RM003] 
@WorkShop nvarchar(10) = 'A5',
@pDate datetime = '2021-11-19',
@pMO nvarchar(max) = '',
@pStyleNo nvarchar(max) = '',
@psaleNo nvarchar(max) = ''
as
DECLARE @MO Table(Zdcode nvarchar(20));

insert into @MO
select * from splitstring(@pMO);

DECLARE @StyleNos Table(StyleNo nvarchar(30));

insert into @StyleNos
select * from splitstring(@pStyleNo);

DECLARE @SaleNos Table(SO nvarchar(20));

insert into @SaleNos
select * from splitstring(@psaleNo);

drop table if exists #Temp;
DECLARE @Date date = convert(date,@pDate);

select Line collate database_default as Workline,MO collate database_default as Zdcode,Quantity as TargetQuantity,IsCompleted,CompletedDate
into #DistributionQty
from RM003_LineDistributionQuantity (nolock) tb
where 1 = 1 
and (tb.IsCompleted = 0 OR (tb.CompletedDate is not null AND tb.CompletedDate >= convert(date,GetDate()-2)))
and tb.Workshop = @WorkShop
and (MO collate database_default in (select * from @MO) OR @pMO = '')

select * 
into #Bases
from RM003Data(nolock) where CheckDate = @Date 


-- No Distribition Quantity 
select ta.WorkLine
	  ,ta.Zdcode
	  ,0 as TargetQuantity
	  ,ta.GxNo
	  ,ta.CheckDate as LastWorkingDate
	  ,ta.TotalDayOutputQty
	  ,ta.AllTimeOutputQty
	  ,0 as RN
	  ,IsCompleted,CompletedDate
	  ,StyleNo
	  ,SO
	  ,SOItemNo
	  ,ExportDate
	  ,MOQuantity
	  ,ColorNo
into #NewZdcodeResult
from #Bases ta 
left join #DistributionQty t0 on ta.WorkLine = t0.Workline 
and ta.Zdcode = t0.Zdcode 
where LEFT(ta.WorkLine,CHARINDEX('-',ta.WorkLine)-1) = @WorkShop
and CheckDate = @Date
and ta.WorkLine like N'%-%'
and t0.Workline is null
and (ta.Zdcode collate database_default in (select * from @MO) OR @pMO = '')
and (ta.StyleNo collate database_default in (select * from @StyleNos) OR @pStyleNo = '')
and (ta.SO collate database_default in (select * from @SaleNos) OR @psaleNo = '')


-- Have Distribution Quantity
select * 
into #OldZdcodeResult
from (
select 
	t0.WorkLine 
	,t0.Zdcode
	,t0.TargetQuantity
	,ta.GxNo
	,CheckDate as LastWorkingDate
	,case when CheckDate = @Date then ta.TotalDayOutputQty else 0 end as TotalDayOutputQty
	,ta.AllTimeOutputQty
	,ROW_NUMBER() OVER (PARTITION BY t0.WorkLine,t0.Zdcode,GxNo order by CheckDate desc) as RN
	,IsCompleted,CompletedDate
	,StyleNo
	,SO
	,SOItemNo
	,ExportDate
	,MOQuantity
	,ColorNo
	from RM003Data (nolock) ta
	inner join #DistributionQty t0 on ta.Zdcode = t0.Zdcode and ta.WorkLine = t0.Workline 
) ta where RN = 1;

--select * from #NewZdcodeResult
--select * from #OldZdcodeResult
;
with t1 as(
select * from #NewZdcodeResult
union all
select * from #OldZdcodeResult
),
t2 as (
select Zdcode
	  ,StyleNo
      ,SO
      ,SOItemNo
      ,ExportDate
      ,MOQuantity
	  ,ColorNo
	  ,Upper(WorkLine) as WorkLine,
	   TargetQuantity,
	   --LastWorkingDate,
	   IsCompleted,CompletedDate,
	   cast(GxNo as nvarchar(20))+'Today' as ColumnName,
	   TotalDayOutputQty as Value
from t1
),
t3 as (
select Zdcode
	  ,StyleNo
      ,SO
      ,SOItemNo
      ,ExportDate
	  ,MOQuantity
	  ,ColorNo
	  ,Upper(WorkLine) as WorkLine,	   
	   TargetQuantity,
	   --LastWorkingDate,
	   IsCompleted,CompletedDate,
	   cast(GxNo as nvarchar(20))+'AllTime' as ColumnName,
	   AllTimeOutputQty as Value
from t1
),
t4 as(
select * from t2 
union all 
select * from t3
),
pvt as (
	select * 
	from t4
	pivot(
		Max([Value]) 
		for [ColumnName] in (
			[697Today],[697AllTime],[698Today],[698AllTime],[700Today],[700AllTime]
		)
	) pvt
)
select * 
into #Temp 
from pvt;

with t5 as (
select  LEFT(pvt.WorkLine,CHARINDEX('-',pvt.WorkLine)-1) as WorkShop,
		pvt.WorkLine,
		SUBSTRING(pvt.WorkLine,CHARINDEX('-',pvt.WorkLine)+1,LEN(pvt.WorkLine)) as Line,
		pvt.StyleNo STYLE_NO,
		pvt.ZDCODE,
		SO as SOID,
		isnull(ta.ClosestExportDate,ExportDate) as Ship_Date,
		ColorNo as COLOR_NO,
		isnull(ta.ClosestExportDateQuantity,MOQuantity) as Qty,
		TargetQuantity,
		--LastWorkingDate,
		IsCompleted,
		CompletedDate,
		isnull([697Today],0) as [697Today] ,
		isnull([697AllTime],0) as [697AllTime],
		[698Today],
		[698AllTime],
		[700Today],
		[700AllTime]
from #Temp pvt
left join BigSOInfor (nolock) ta on ta.MO = pvt.Zdcode
)
select * 
from t5
Order by Len(Workline),WorkLine,SOID,Zdcode
for json path,include_null_values