USE [ORP]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_RM020SAP]    Script Date: 10/21/2021 10:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LL_RM020_IMMQI_FabricRelaxing]
@Factory nvarchar(5) = '2506',
@inpMOHeader nvarchar(1000) = '83'
as

DECLARE @MOHeader Table(MOHeader nvarchar(2));

insert into @MOHeader
select [Name]
from splitstring(@inpMOHeader);

select SO,SOItemNo
into #SOBase
from SAP.dbo.SOInfors(nolock) ta 
where Factory = '2506'--@Factory
and RejectionReason not in ('Z1','Z2','Z3','Z4','Z5','Z6','Z7','Z8','Z0','ZZ','Z9')
and (SUBSTRING(MO,5,2) in (select * from @MOHeader))
group by SO,SOItemNo;

with
t0 as (
	select * from #SOBase
),
tb as(
select tb.*
from t0
inner join SAP.dbo.BarcodeInfors (nolock) tb on t0.SO = tb.SaleNo and t0.SOItemNo = tb.SOItemNo and tb.Factory = @Factory
inner join SAP.dbo.V_LL_IMMQIResult (nolock) tc on tb.Barcode = tc.Barcode collate database_default
),
t1 as(
select t0.SO,t0.SOItemNo,tc.QIType,tc.[Status],tc.Barcode
from t0
inner join SAP.dbo.BarcodeInfors (nolock) tb on t0.SO = tb.SaleNo and t0.SOItemNo = tb.SOItemNo and tb.Factory = @Factory
inner join SAP.dbo.V_LL_IMMQIResult (nolock) tc on tb.Barcode = tc.Barcode collate database_default
group by t0.SO,t0.SOItemNo,tc.QIType,tc.[Status],tc.Barcode
),
t2 as(
select SO,SOItemNo,QIType 
      ,Count(1) as Total
	  ,SUM(case when [Status] in ('OK','OK-') then 1 else 0 end) as TotalOK
	  ,SUM(case when [Status] in ('OK-') then 1 else 0 end) as TotalOKWithCondition
	  ,SUM(case when [Status] in ('NG') then 1 else 0 end) as TotalNG
	  ,SUM(case when [Status] not in ('NG','OK','OK-') then 1 else 0 end) as TotalPending
from t1 
group by SO,SOItemNo,QIType 
),
t3 as(
select SO,SOItemNo,QIType, cast(Total as nvarchar(10)) + '-' + cast(TotalOK as nvarchar(10)) + '-' + cast(TotalOKWithCondition as nvarchar(10)) + '-' + cast(TotalNG as nvarchar(10)) + '-' + cast(TotalPending as nvarchar(10)) as QIResult
from t2 
)
select SO,SOItemNo,QAAI,[QAFI]
into #IMMQI
from t3
pivot (
	max(QIResult) 
	for QIType in ([QAAI],[QAFI])
) pvt

--select * from #IMMQI;

;
with t1 as(
select --*
	 tb.SO,tb.SOItemNo
	 ,Count(1)  as Total
	 ,Sum(case when ClockDate < GetDate() then 1 else 0 end) as Finish
	 ,Sum(case when ClockDate > GetDate() then 1 else 0 end) as Processing
from SHELVES.dbo.IMMQIMain(nolock) ta 
inner join #SOBase tb on ta.SampleOrderNo collate database_default = tb.SO and ta.SOProjectLine = tb.SOItemNo
where ta.FactoryCode = @Factory
--and SO = 'A160083029' 
--and SOItemNo = 10
group by tb.SO,tb.SOItemNo
)
select SO,SOItemNo,cast(Total as nvarchar(10)) + '-' + cast(Finish as nvarchar(10)) + '-' + cast(Processing as nvarchar(10)) as RelaxingResult
into #FabRelax
from t1
--where SO = 'A160083029' 
--and SOItemNo = 20
-- QAAI and QAFI Value : Total-OK-OKWithCondition-NG-P(Pending)
-- RelaxingResult Value : Total-OK-P(Pending)
select ta.SO as BigSO,ta.SOItemNo as BigSOItemNo
	,isnull(QAAI,'0-0-0-0-0') as QAAI
	,isnull([QAFI],'0-0-0-0-0') as [QAFI]
	,ISNULL(RelaxingResult,'0-0-0') as RelaxingResult
from #SOBase ta 
left join #IMMQI tb on ta.SO = tb.SO and ta.SOItemNo = tb.SOItemNo
left join #FabRelax tc on ta.SO = tc.SO and ta.SOItemNo = tc.SOItemNo

--select  * 
--from  SHELVES.dbo.IMMQIMain(nolock)
--where SampleOrderNo = 'A160083029' and 	SOProjectLine = 10
--order by Barcode