USE [ORP]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_RM020ETS]    Script Date: 10/21/2021 9:50:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------------------------------
-- 2021-10-21 Lyrio :	Update add CUT
--						Fix Packing , add Priority
----------------------------------------------------------------------------------------
/****** Script for SelectTopNRows command from SSMS  ******/
ALTER PROCEDURE [dbo].[SP_LL_RM020ETS] 
@InpDate nvarchar(10) = '2022-02-07',
@InpFactory nvarchar(5) = 'VNE'
as 
DECLARE @Date date = convert(date,@InpDate);
DECLARE @Factory nvarchar(5) = @InpFactory;
DECLARE @LastWorkingDate date ;
-- MO Base Infor

-- Factory Specific GxNo for each Process
DECLARE @tbPartBatchingComplete Table(GxNo int);
DECLARE @tbStrap Table(GxNo int);
DECLARE @tbCheck Table(GxNo int);
DECLARE @tbPacking Table(GxNo int,[Priority] int);
DECLARE @tbCUTStore Table(StoreNo nvarchar(10));

DECLARE @inpPartBatchingComplete nvarchar(max);
DECLARE @inpStrap nvarchar(max);
DECLARE @inpCheck nvarchar(max);
DECLARE @inpPacking nvarchar(max);
DECLARE @inpCUTStore nvarchar(max);

select @inpPartBatchingComplete = GxNo from RM020_FactoryProcessGx(nolock) where Process = 'PartBatchingComplete'
insert into @tbPartBatchingComplete
select cast([Name] as int)   
from splitstring(@inpPartBatchingComplete);

select @inpStrap = GxNo from RM020_FactoryProcessGx(nolock) where Process = 'Strap'
insert into @tbStrap
select cast([Name] as int)  
from splitstring(@inpStrap);

select @inpCheck = GxNo from RM020_FactoryProcessGx(nolock) where Process = 'Check'
insert into @tbCheck
select cast([Name] as int)  
from splitstring(@inpCheck);

select @inpPacking = GxNo from RM020_FactoryProcessGx(nolock) where Process = 'Packing'
insert into @tbPacking
select cast([Name] as int),ROW_NUMBER() over (order by (Select 1)) as [Priority]
from splitstring(@inpPacking);

select @inpCUTStore = GxNo from RM020_FactoryProcessGx(nolock) where Process = 'CUTStore'
insert into @tbCUTStore
select [Name]
from splitstring(@inpCUTStore);



select * 
into #MOBase
from [172.19.18.81].ETSDB_Regina.dbo.V_LL_MOBase where Factory = @InpFactory


select * 
into #Holiday
from [172.19.18.89].[master].[dbo].[abh_Holiday]

SET @LastWorkingDate = (
select top 1 date_id 
from Calendar(nolock) 
where 1 = 1
and isHoliday = 0 
and date_id not in (
	select date_id 
	from Calendar (nolock) ta
	join #Holiday tb on ta.date_id between tb.StartDate and tb.EndDate )
and date_id < convert(date,@InpDate)
order by date_id desc);

with 
-- Lũy kế đồng bộ
t2 as(
	select ta.Zdcode,Sum(TotalQty) as TotalPartBatchingQty
	from [ORP].[dbo].[ETSPP_MOPartBatchingQty] (nolock) ta
	where Factory = @Factory
	and WorkDate <=  @Date
	and ta.Zdcode in (select Zdcode from #MOBase)
	group by ta.Zdcode
),
-- Lũy kế phát liệu
t3 as (
	select ta.Zdcode,Sum(Quantity) as TotalOutput697
    from ORP.dbo.ETS_MODailyOutput (nolock) ta
	where GxNo in (select * from @tbPartBatchingComplete)
	and ta.Zdcode in (select Zdcode from #MOBase)
	and WorkDate <=  @Date
	group by ta.Zdcode
),
-- Sản lượng đánh bọ ngày hôm trước
t4 as (
	select ta.Zdcode,Sum(Quantity) as LastWorkingDay698
    from ORP.dbo.ETS_MODailyOutput (nolock) ta
	where GxNo in (select * from @tbStrap)
	and ta.Zdcode in (select Zdcode from #MOBase)
	and ta.WorkDate = @LastWorkingDate
	group by ta.Zdcode
),
-- Sản lượng đánh bọ ngày hôm nay
t4b as (
	select ta.Zdcode,Sum(Quantity) as TodayOutput698
    from ORP.dbo.ETS_MODailyOutput (nolock) ta
	where GxNo in (select * from @tbStrap)
	and ta.Zdcode in (select Zdcode from #MOBase)
	and ta.WorkDate = @Date
	group by ta.Zdcode
),
-- Sản lượng lũy kế 698
t5 as(
	select ta.Zdcode,Sum(Quantity) as TotalOutput698,Min(WorkDate) as StartDate698,Max(WorkDate) as EndDate698
    from ORP.dbo.ETS_MODailyOutput (nolock) ta
	where GxNo in (select * from @tbStrap)
	and ta.Zdcode in (select Zdcode from #MOBase)
	and WorkDate <=  @Date
	group by ta.Zdcode
),
-- Sản lượng lũy kế 700
t6 as(
	select ta.Zdcode,Sum(Quantity) as TotalOutput700
    from ORP.dbo.ETS_MODailyOutput (nolock) ta
	where GxNo in (select * from @tbCheck)
	and ta.Zdcode in (select Zdcode from #MOBase)
	and WorkDate <=  @Date
	group by ta.Zdcode
),
-- Liệu đến đóng gói
t7 as (
	select ta.Zdcode,Sum(TotalQty) as PackStoreIn
    from ORP.dbo.ETS_PackStoreIn (nolock) ta
	where 1 = 1
	and Factory = @Factory
	and ta.Zdcode in (select Zdcode from #MOBase)
	and WorkDate <=  @Date
	group by ta.Zdcode
),
-- Sản lượng lũy kế 813,681
t7b as(
	select Zdcode,TotalPackOutput 
	from (
		select ta.Zdcode,ta.GxNo,tb.[Priority],Sum(Quantity) as TotalPackOutput
				-- Get first Pack GxNo Output by Priority
			   ,ROW_NUMBER() over ( partition by Zdcode order by tb.[Priority]) as RN 
		from ORP.dbo.ETS_MODailyOutput (nolock) ta
		inner join @tbPacking tb on ta.GxNo = tb.GxNo
		where 1 = 1 --GxNo in (select * from @tbPacking)
		and ta.Zdcode in (select Zdcode from #MOBase)
		and WorkDate <=  @Date
		group by ta.Zdcode,ta.GxNo,tb.[Priority]
	) ta where RN = 1
),
-- CUT IO 
tCut as (
	select *
	from (
		select Zdcode,WorklayerNo,Sum(TotalQty) as TotalQty,Min([Date]) as CutStartDate
			  ,ROW_NUMBER() over ( Partition by Zdcode order by Sum(TotalQty) desc) as RN 
		from ETS_MO_Layer_WarehouseIO (nolock) 
		where Factory = @InpFactory -- 'VNE'
		and StoreNo in (select * from @tbCUTStore) --('ECUT')
		and Zdcode != ''
		and [Date] <=  @Date
		group by Zdcode,WorklayerNo 
	) ta 
	where RN = 1
),
t8 as(
select ta.SaleNo,ta.SOItemNo,ta.STYLE_NO,ta.Quantity,ShipDate
      ,COLOR_NO = STUFF(
             (SELECT ',' + COLOR_NO 
              FROM #MOBase t1
              WHERE t1.SOItemNo = ta.SOItemNo and t1.SaleNo = ta.SaleNo
			  group by COLOR_NO
              FOR XML PATH (''))
        , 1, 1, '') 
	  ,Zdcode = STUFF(
             (SELECT ',' + ZDCODE 
              FROM #MOBase t1
              WHERE t1.SOItemNo = ta.SOItemNo and t1.SaleNo = ta.SaleNo
			  group by ZDCODE
              FOR XML PATH (''))
        , 1, 1, '')
	  ,SUM(isnull(t2.TotalPartBatchingQty,0)) TotalPartBatchingQty
	  ,SUM(isnull(t3.TotalOutput697,0)) TotalOutput697
	  ,SUM(isnull(t4.LastWorkingDay698,0)) LastWorkingDay698
	  ,SUM(isnull(t4b.TodayOutput698,0)) TodayOutput698
	  ,Min(StartDate698) as StartDate698
	  ,Max(EndDate698) as EndDate698
	  ,SUM(isnull(t5.TotalOutput698,0)) TotalOutput698
	  ,SUM(isnull(t6.TotalOutput700,0)) TotalOutput700
	  ,SUM(isnull(t7.PackStoreIn,0)) PackStoreIn
	  ,SUM(isnull(t7b.TotalPackOutput,0)) TotalPackOutput
	  ,SUM(isnull(tCut.TotalQty,0)) TotalCutQty
	  ,CutStartDate
from #MOBase ta 
left join t2 on ta.ZDCODE = t2.Zdcode
left join t3 on ta.ZDCODE = t3.Zdcode
left join t4 on ta.ZDCODE = t4.Zdcode
left join t4b on ta.ZDCODE = t4b.Zdcode
left join t5 on ta.ZDCODE = t5.Zdcode
left join t6 on ta.ZDCODE = t6.Zdcode
left join t7 on ta.ZDCODE = t7.Zdcode
left join t7b on ta.ZDCODE = t7b.Zdcode
left join tCut on ta.ZDCODE = tCut.Zdcode
group by ta.SaleNo,ta.SOItemNo,ta.STYLE_NO,ta.Quantity,ta.ShipDate,CutStartDate
)
select * 
from t8
