USE [ORP]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_RM020SAP]    Script Date: 10/21/2021 10:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LL_RM020SAPWarehouseIO]
@Factory nvarchar(5) = '2506',
@inpMOHeader nvarchar(1000) = '83'
as

DECLARE @MOHeader Table(MOHeader nvarchar(2));

insert into @MOHeader
select [Name]
from splitstring(@inpMOHeader);

with
t0 as (
	select tb.*
	from SAP.dbo.SOInfors(nolock) ta 
	inner join SAP.dbo.SOLinks(nolock) tb on ta.SO = tb.BigSO and ta.SOItemNo = tb.BigSOItemNo
	where Factory = '2506'--@Factory
	and RejectionReason not in ('Z1','Z2','Z3','Z4','Z5','Z6','Z7','Z8','Z0','ZZ','Z9')
	and (SUBSTRING(MO,5,2) in (select * from @MOHeader))
),
t1 as(
	select BigSO,BigSOItemNo--,tc.Quantity
			, Sum(TotalInHU) as TotalInHU
			, Sum(TotalInHUQuantity) as TotalInHUQuantity
			, Sum(TotalNotInHU) as TotalNotInHU
			, Sum(TotalNotInHUQuantity) as TotalNotInHUQuantity
			, Sum(TotalExportHU) as TotalExportHU
			, Sum(TotalExportHUQuantity) as TotalExportHUQuantity
	from  SAP.dbo.SAPPackAreaSummary (nolock) ta
	inner join t0 tb on ta.SmallSO = tb.SmallSO and ta.SmallSOItemNo = tb.SmallSOItemNo
	where ta.Factory = @Factory
	group by BigSO,BigSOItemNo--,tc.Quantity
)
select * 
from t1

