USE [ORP]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_RM020SAP]    Script Date: 10/21/2021 10:34:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LL_RM020SAP]
@Factory nvarchar(5) = '2506'
as
with t1 as(
select SO,SOItemNo,Max(Quantity) as Quantity,Max(ExportDate) as ExportDate
from SAP.dbo.SOINfors
where 1 = 1 
--ExportDate >= Convert(date,GetDate()-50) --'2021-06-12'
and Factory = @Factory
group by SO,SOItemNo
),
t2 as(
select ta.SmallSO,ta.SmallSOItemNo,tc.Quantity as SmallSOQuantity,tc.ExportDate as SmallSOExportDate,ta.BigSO,ta.BigSOItemNo,t1.Quantity as BigSOQuantity,t1.ExportDate as BigSOExportDate
from SAP.dbo.SOLinks ta 
inner join t1 on t1.SO = ta.BigSO and ta.BigSOItemNo = t1.SOItemNo
inner join SAP.dbo.SOInfors tc on tc.SO = ta.SmallSO and tc.SOItemNo = ta.SmallSOItemNo
),
t3 as(
select t2.*,TotalInHUQuantity,TotalExportHUQuantity
	  ,DATEDIFF(day,GetDate(),SmallSOExportDate) as SSOExportDateRange
	  ,DATEDIFF(day,GetDate(),BigSOExportDate) as BSOExportDateRange
from t2 
inner join SAP.dbo.SAPPackAreaSummary ta on t2.SmallSO = ta.SmallSO and t2.SmallSOItemNo = ta.SmallSOItemNo
),
t4 as(
select BigSO,BigSOItemNo,SmallSOExportDate from (
	select BigSO,BigSOItemNo,SmallSOExportDate,ROW_NUMBER() Over (Partition by BigSO,BigSOItemNo Order by case when SSOExportDateRange < 0 then ABS(SSOExportDateRange) + 10000 else SSOExportDateRange end ) as RN 
	from t3
	) ta where RN = 1
),
t5 as(
	select t3.BigSO,t3.BigSOItemNo,t3.BigSOQuantity,t4.SmallSOExportDate as ExportDate,Sum(TotalInHUQuantity) TotalInHUQuantity , Sum( TotalExportHUQuantity) TotalExportHUQuantity
	from t4
	inner join t3 on t4.BigSO = t3.BigSO and t4.BigSOItemNo = t3.BigSOItemNo
	group by t3.BigSO,t3.BigSOItemNo,t3.BigSOQuantity,t4.SmallSOExportDate
)
select * from t5
Order by ExportDate desc,BigSO,BigSOItemNo

