USE [ROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReworkWFTSummary]    Script Date: 1/15/2022 2:30:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ReworkWFTSummary] 
 @Factory nvarchar(50) = '',
 @Dept nvarchar(50) = 'DPD1',
 @Workshop nvarchar(50) = '',
 @Workline nvarchar(50) = '',
 @GxNo nvarchar(max) =  ''
as
DECLARE @TbGxNo Table(GxNo nvarchar(50));

insert into @TbGxNo
select *
from string_split(@GxNo,',');


DECLARE @TbWorkshop Table(Workshop  nvarchar(50));
insert into @TbWorkshop
select * 
from string_split(@Workshop,',');


select WorkLineName as Workline,WorkShop,ProductArea as Dept
into #TempWorkLine
from T_ETS_Workline(nolock)
where 1 = 1
and IsUse = 1
and SalaryKind = 3
and (WorkShop collate database_default in (select * from @TbWorkshop) OR @Workshop = '')
and (ProductArea = @Dept OR @Dept = '')
and (WorkLineName = @Workline OR @Workline = '')
and ServerName = 'ETSHP'

select t0.*,isnull(ta.WFTTarget,10) as ReworkTarget
into #TempTarget
from #TempWorkLine t0
left join [Workline_KanbanConfig] ta on t0.Workline = ta.IdLine collate database_default

select  Dept,ta.WorkShop,t0.Workline,QCGxNo,CardCode,cCount,BillDate,ReturnWorkCount,ReturnWorkCode
		--,Sum(ReturnWorkCount) as ReturnWorkCount
into #TempRework
from T_ETS_QC(nolock) ta 
inner join #TempWorkLine t0 on t0.Workline = ta.Workline
where BillDate >= COnvert(date,GetDate())
and (QCGxNo in (select * from @TbGxNo) or @GxNo = '')
--group by Dept,ta.WorkShop,t0.Workline,QCGxNo,CardCode,cCount,BillDate;
;
--select * from #TempRework;


with t1 as(
-- Lấy thời gian quẹt thẻ hàng lỗi theo từng thẻ
select * from (
	select CardCode,BillDate,ROW_NUMBER() over(partition by CardCode,BillDate Order by CardCode,BillDate desc) as RN
	from #TempRework
	--where ReturnWorkCount > 0 
)  ta where RN = 1
),
-- Lấy thông tin theo thời gian quẹt thẻ hàng lỗi theo từng thẻ
t2 as(
	select ta.* 
	from t1
	inner join #TempRework ta on t1.CardCode = ta.CardCode and t1.BillDate = ta.BillDate
),
t3 as(
select t2.Workline
		,Sum(Ccount) as TotalCheck
		,Sum(ReturnWorkCount) as TotalRework
from  t2
group by t2.Workline
)
select ta.Dept,ta.WorkShop,ta.Workline,ta.ReworkTarget,isnull(TotalCheck,0) as TotalCheck,isnull(TotalRework,0) as TotalRework
into #BaseData
from #TempTarget ta 
left join t3 on ta.Workline = t3.Workline
;

--with 
---- Get all WorkLine
--t0 as(
--	select WorkLineName as Workline,WorkShop,ProductArea as Dept
--	from ETSDB_Regina.dbo.TWorkLine(nolock)
--	where 1 = 1
--	and IsUse = 1
--	and SalaryKind = 3
--	and (WorkShop collate database_default in (select * from @TbWorkshop) OR @Workshop = '')
--	and (ProductArea = @Dept OR @Dept = '')
--	and (WorkLineName = @Workline OR @Workline = '')
--),
---- Get Workline ReworkTarget . If not Set ==> 10 %
--t1a as(
--	select t0.*,isnull(ta.WFTReworkTarget,10) as ReworkTarget
--	from t0
--	left join V_WorklineWFTReworkTarget ta on t0.Workline = ta.Workline
--),
--t1 as(
--select  Dept,ta.WorkShop,t0.Workline,QCGxNo,CardCode,cCount,BillDate
--		,Sum(ReturnWorkCount) as ReturnWorkCount
--from ETSDB_Regina.dbo.tbReturnWork(nolock) ta 
--inner join t0 on t0.Workline = ta.Workline
--where convert(date,BillDate) = COnvert(date,GetDate())
--and (QCGxNo in (select * from @TbGxNo) or @GxNo = '')
--group by Dept,ta.WorkShop,t0.Workline,QCGxNo,CardCode,cCount,BillDate
--),
--t2 as (
--	select * 
--	from (
--	select * ,ROW_NUMBER() Over (Partition by CardCode Order by ReturnWorkCount desc,BillDate desc) as RN2
--	from t1
--	) ta where RN2 = 1
--)
--select t1a.Dept,t1a.WorkShop,t1a.Workline 
--		,Sum(Ccount) as TotalCheck
--		,Sum(ReturnWorkCount) as TotalRework
--		,t1a.ReworkTarget
--into #BaseData
--from t1a 
--left join t2 on t1a.Workline = t2.Workline
--group by t1a.Dept,t1a.WorkShop,t1a.Workline,t1a.ReworkTarget 

DECLARE @Result table(
	Base nvarchar(50)
	,ReworkRate decimal(18,2)
	,TotalRework int
	,TotalCheck int
	,ReworkTarget decimal(18,2))

IF(@Workshop != '')
BEGIN
insert into @Result
select Workline as Base
,case when Sum(totalCheck) > 0 then cast(Round(Sum(TotalRework) / cast(SUM(totalCheck) as decimal(18,2)) * 100,2) as decimal(18,2)) else 0 end as ReworkRate
	  ,Sum(TotalRework) as TotalRework
	  ,SUM(totalCheck) as TotalCheck
	  ,AVG(ReworkTarget) as ReworkTarget
from #BaseData
group by Workline
END
ELSE IF(@Dept != '')
BEGIN
insert into @Result
select Workshop as Base
	,case when Sum(totalCheck) > 0 then cast(Round(Sum(TotalRework) / cast(SUM(totalCheck) as decimal(18,2)) * 100,2) as decimal(18,2)) else 0 end as ReworkRate
	  ,Sum(TotalRework) as TotalRework
	  ,SUM(totalCheck) as TotalCheck
	  ,AVG(ReworkTarget) as ReworkTarget
from #BaseData
group by Workshop	
END 
ELSE 
BEGIN
insert into @Result
select Dept as Base
	  ,case when Sum(totalCheck) > 0 then cast(Round(Sum(TotalRework) / cast(SUM(totalCheck) as decimal(18,2)) * 100,2) as decimal(18,2)) else 0 end as ReworkRate
	  ,Sum(TotalRework) as TotalRework
	  ,SUM(totalCheck) as TotalCheck
	  ,AVG(ReworkTarget) as ReworkTarget
from #BaseData
group by Dept	
END

select (
select Base
		,isnull(ReworkRate,0) as ReworkRate
		,isnull(TotalRework,0) as TotalRework
		,isnull(TotalCheck,0) as TotalCheck
		,ReworkTarget
from @Result
for json path ) as [Value]