USE [ROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_Workline_WFT]    Script Date: 11/23/2021 1:03:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[SP_LL_Workline_WFT] 
 @pWorkline nvarchar(20) = 'E1-L1',
 @pQcGxNo nvarchar(1000) = '700',
 @useQCServer bit = 0
as
-- 2022-04-19 Lyrio: add ReturnWorkCode is not null


DECLARE @QcGxNo TABLE (GxNo nvarchar(15));
insert into @QcGxNo
select * from string_split(@pQcGxNo,',');

DECLARE @Workline nvarchar(20) = @pWorkline;
DECLARE @Factory nvarchar(5);
DECLARE @ReworkTable table(ReturnWorkCode nvarchar(20),[Description] nvarchar(50),StartTime time(7),TotalRework int)

-- Get Workline Factory
SELECT @Factory = (select Fac_no from HR_Org where Lin_no = @Workline);

drop table if exists #TempWorkhour;
--- Line Working Hour
select *
into #TempWorkhour
from T_ETS_WorklineTarget (nolock)
where 1 =1
and UpdateTime > convert(date,GetDate())
and Workline = @Workline


DECLARE @TempData Table(Billdate datetime
						,CardCode nvarchar(25)
						,ReturnWorkCode int
						,ReturnWorkCount int
						,ReturnWorkName nvarchar(200)
						,Workline nvarchar(20)
						,cCount int
						,CheckOrder int
						,TotalCheck int
						,StartTime time
						,TimeString nvarchar(20));

if(@useQCServer = 0)
--- ETS Rework Data
	with t1 as(
		select BillDate
				,CardCode
				,ReturnWorkCode
				,ReturnWorkCount
				,ReturnWorkName
				,Workline
				,cCount
			-- Kiểm tra thứ tự kiểm
			,Count(ReturnWorkCount) Over (Partition by CardCode Order by CardCode,Billdate Rows between UNBOUNDED PRECEDING and 1 PRECEDING) as CheckOrder 
		from T_ETS_QC (nolock)
		where 1 = 1 
		and Workline = @Workline
		and BillDate >= convert(date,GetDate())
		and BillDate <= GetDate()
		and QCGxNo in( select * from @QcGxNo)
		and ReturnWorkCode is not null
	),
	t2 as(
		-- lấy số lượng hàng của thẻ = số lượng kiểm cho lần kiểm đầu 
		select *,case when CheckOrder = 0 then Ccount+ReturnWorkCount else ReturnWorkCount end as Totalcheck
		from t1
	)
	insert into @TempData
	select t2.*,tb.StartTime,tb.TimeString
	from t2
	right join #TempWorkhour tb on Convert(time,t2.BillDate) >= tb.StartTime and Convert(time,t2.BillDate) < tb.EndTime;

else

-- QC System Data
	with t1 as(
		select isnull(TimeStop,TimeStart) as BillDate
			  ,CardNo as CardCode
			  ,tb.RootId as ReturnWorkCode
			  ,tb.ErrCount as ReturnWorkCount
			  ,cast('' as nvarchar(200)) as ReturnWorkName
			  ,[LineNo] as Workline
			  ,CCount
			  ,ROW_NUMBER() over (partition by EndLineId,tb.[Level] order by EndLineId,tb.[Level] desc) as CheckOrder
		from T_QC_EndLine(nolock) ta 
		left join T_QC_EndLineErr(nolock) tb on ta.Id = tb.EndLineId
		where [TimeStart] >= convert(date,GetDate())
		and [LineNo] = @Workline
		and tb.[Level] = 1
	),
	t2 as(
		select *,case when CheckOrder = 1 then Ccount else 0 end as Totalcheck
		from t1
	)
	insert into @TempData
	select t2.*,tb.StartTime,tb.TimeString
	from t2
	right join #TempWorkhour tb on Convert(time,t2.BillDate) >= tb.StartTime and Convert(time,t2.BillDate) < tb.EndTime;





--- Error Information
SELECT [Prioritize],Code,EVN,ECN,PVN,PCN,Id
into #TempReworkData
FROM QCErrorRoot
where Factory = case when @Factory = 'VNE' then @Factory else 'VNA' end 
and (@Factory != 'VNE' OR [Group] = 'Adidas-code' and @Factory = 'VNE')
and isDeleted = 0
;


with 
-- Tính tổng lỗi theo giờ
t0a as(
	select  ReturnWorkCode,ReturnWorkName
			,TimeString as [Description],StartTime
			,Sum(TotalCheck) as TotalCheck
			,Sum(ReturnWorkCount) as TotalRework
	from @TempData ta 
	group by ReturnWorkCode,ReturnWorkName
			,TimeString,StartTime
),
-- Tổng kiểm theo giờ 
t2 as(
	select [Description],Sum(TotalCheck) as TotalQuantity
	from t0a 
	group by [Description]
),
-- Join Dữ liệu
t3 as(
	select t0a.*,t2.TotalQuantity
	from t0a 
	inner join t2 on t0a.[Description] = t2.[Description]
),
-- Lấy thêm dữ liệu liệu từ hệ thống QC
t4 as(
	select *
	from t3 
	left join #TempReworkData ta on (t3.ReturnWorkCode = case when @useQCServer = 0 then ta.Code else ta.Id end)
)
select (
	select ReturnWorkCode,case when ReturnWorkName = '' then Code + '-' + ECN + '-' + EVN else ReturnWorkName end as ReturnWorkName
	,[Description],StartTime,TotalCheck,TotalRework,TotalQuantity
	,Prioritize,Code,EVN,ECN,PVN,PCN,Id
	,t4.[Description] as IdTimeWork
	from t4
	order by t4.[Description]
	for json path , include_null_values
) as [Value]

