USE [ETSDB_Regina]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_RM018]    Script Date: 11/15/2021 2:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LL_RM018]
 @Workshop nvarchar(20) = 'ESP',
 @Store nvarchar(20) = 'ESP',
 @MO nvarchar(20) = '',
 @pStartDate nvarchar(20) = '2020-11-15',
 @pEndDate nvarchar(20) = '2020-11-22'
as
DECLARE @StartDate date = convert(date,@pStartDate);
DECLARE @EndDate date = convert(date,@pEndDate);


select ta.* 
into #TempData
from T_StoreInOutFlow(nolock) ta
inner join T_YGDA tb on ta.WarehouseEmpID = tb.CODE
where 1 = 1 
and ((ta.BillDate >= @StartDate and ta.BillDate <= @EndDate) OR @pStartDate = '' OR @pEndDate = '')
and (Zdcode = @MO OR @MO = '')
and StoreNo = @Store
and tb.Workshop = @Workshop;

select distinct Zdcode 
into #TempZdCode
from #TempData

select distinct BundleId
into #tempBundle
from #TempData

-- Dữ liệu 
--select * from #Temp_Mat_In_GxCode
-- Công đoạn lên chuyền In Hoa - Liệu vào 
select distinct GxCode 
into #Temp_Mat_In_GxCode
from tbGxBase (nolock)
where GxName like N'%丝印上线%';

-- Công đoạn Liệu đến kiểm hàng
select distinct GxCode 
into #Temp_QC_2_GxCode
from tbGxBase (nolock)
where GxName like N'%丝印上线%';

-- Công đoạn Kiểm hàng xưởng in - Kiểm hàng 
select distinct GxCode 
into #Temp_QC_GxCode
from tbGxBase (nolock)
where GxName like N'%查丝印%';

-- Công đoạn Xếp liệu
select distinct GxCode 
into #Temp_3_GxCode
from tbGxBase (nolock)
where GxName like N'%摆料%';

-- Tất cả các công đoạn không tính là công đoạn sản xuất 
select * 
into #Temp_NonProduct_GxCode
from (
select * from #Temp_Mat_In_GxCode 
union all
select * from #Temp_QC_GxCode 
union all
select * from #Temp_QC_2_GxCode 
union all
select * from #Temp_3_GxCode 
) ta;


--select ZDCode,color_No,Cm
--	  ,Sum(JG_Count) as TotalOutput
--	  into #Temp_TJJB
--from T_JJB(nolock) ta 
--where 1 = 1 
--and (Convert(date,BillDate) between @StartDate and @EndDate  OR @pStartDate = '' OR @pEndDate = '')
--and GxCode not in (select * from #Temp_NonProduct_GxCode)
--and Style_No != 'R09XBVNT0010Z02_2506'
--and Zdcode in (select * from #TempZdCode)
--and BundleId in (select * from #tempBundle)
--and WorkLine like N'%'+@Workshop+'%'
--group by ZDCode
--		,color_No
--		,Cm
--select ZDCode,color_No--,CM
--	  ,Sum(JG_Count) as TotalOutput
----ta.EmpWorkLine as WorkLine,ta.Zdcode,GxCode,StyleNo,'Mat_In' as Parame,Sum(ta.TotalQty) as [Value] 
--into #Temp_TJJB
--from T_JJB(nolock) ta
--where 1 = 1
--and (Convert(date,BillDate) between @StartDate and @EndDate  OR @pStartDate = '' OR @pEndDate = '') --convert(date,'2020-11-16') and convert(date,'2020-11-16')
--and GxCode not in (select * from #Temp_NonProduct_GxCode)
--and Style_No != 'R09XBVNT0010Z02_2506'
--and WorkLine like N'%'+@Workshop+'%'
--and Zdcode in (select * from #TempZdCode)
--group by ZDCode
--		,color_No
		--,CM
;




with
t2 as(
select Zdcode,ColorNo,CM
	  ,isnull(Sum(case when [State] = '1' then Ccount end),0) as TotalIn
	  ,isnull(Sum(case when [State] = '2' then Ccount end),0) as TotalOut
from #TempData
group by Zdcode,ColorNo,CM
),
t3a as(
select CUSTNAME,ta.STYLE_NO,ta.SaleNo,ta.SOItemNo,ta.ZDCODE,tb.COLOR_NO,SUM(tb.MY_COUNT) as MY_COUNT
from T_SCZZD(nolock) ta
inner join TB_MK_ZD_COLOR_SIZE(nolock) tb on ta.SID = tb.CNID
where ta.ZDCODE in (select * from #TempZdCode)
group by CUSTNAME,ta.STYLE_NO,ta.SaleNo,ta.SOItemNo,ta.ZDCODE,tb.COLOR_NO
),
t3 as(
select t3a.CUSTNAME as Customer
	  ,t3a.STYLE_NO as StyleNo
	  ,t3a.SaleNo,t3a.SOItemNo
	  ,t2.ColorNo
	  ,t2.ZdCode
	  ,t3a.MY_COUNT as MOQty
	  ,t2.CM
	  ,t2.TotalIn
	  ,t2.TotalOut
	  --,isnull(ta.TotalOutput,0) as TotalOutput
from t2 
inner join t3a on t2.ColorNo = t3a.COLOR_NO and t3a.ZDCODE = t2.Zdcode
--left join #Temp_TJJB ta on ta.ZDCode = t2.Zdcode and ta.color_No = t2.ColorNo
)
select *
	,TotalIn - TotalOut as WIP
	--,TotalIn - TotalOutput as TotalLeft 
from t3 Order by SaleNo,SOItemNo for json path,include_null_values


