USE [ROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_TargetOutputQCSummary]    Script Date: 10/28/2021 4:02:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_TargetOutputQCSummary]
 @Factory nvarchar(10) = '',
 @Dept nvarchar(50) = '',
 @Workshop nvarchar(50) = '',
 @Workline nvarchar(50) = '',
 @GxNo nvarchar(max) = '',
 @QcGxNo nvarchar(max) = ''
as 
DECLARE @TbGxNo Table(GxNo int);
DECLARE @TbQCGxNo Table(GxNo int);

insert into @TbGxNo
select cast(value as int) as GxNo
from string_split(@GxNo,',');

insert into @TbQCGxNo
select cast(value as int) as GxNo
from string_split(@QcGxNo,',');

with t1 as(
	select WorkLineName as Workline,WorkShop,ProductArea as Dept
	from T_ETS_Workline (nolock)
	where 1 = 1
	and IsUse = 1
	and SalaryKind = 3
	and (ZhuBie = @Factory OR @Factory = '')
	and (WorkShop = @Workshop OR @Workshop = '')
	and (ProductArea = @Dept OR @Dept = '')
	and (WorkLineName = @Workline OR @Workline = '')
	and ServerName = 'ETSHP'
),
t2 as(
	select t1.Workline,Sum(TotalQty) as TotalQty
	from t1 
	inner join WorklineSummary (nolock) ta on ta.WorkLine = t1.WorkLine and ta.WorkDate = convert(date,GetDate())
	where GxNo in (select * from @TbGxNo)
	group by t1.Workline
),
t3 as(
select  t1.Workline,CardCode,cCount
		,QCGxNo
		,ROW_NUMBER() Over (Partition by CardCode Order by CardCode) as RN
from T_ETS_QC(nolock) ta 
inner join t1 on t1.Workline = ta.Workline
where convert(date,BillDate) = COnvert(date,GetDate())
and (QCGxNo in (select * from @TbQCGxNo) or @QcGxNo = '')
),
t4 as(
	select Workline,Sum(cCount) as TotalCheck 
	from t3 where RN=1
	group by Workline
),
t5 as(
	select t1.Workline,t1.WorkShop,t1.Dept,isnull(ta.AimQty,500) as TargetQty
	from t1
	left join T_ETS_WorklineTarget ta on t1.Workline = ta.Workline 
	and ta.UpdateTime >= convert(date,GetDate())
	group by t1.Workline,t1.WorkShop,t1.Dept,ta.AimQty
)
select t5.*,isnull(t4.TotalCheck,0) as TotalCheck,isnull(t2.TotalQty,0) as TotalOutput 
into #BaseData
from t5
left join t4 on t5.Workline = t4.Workline
left join t2 on t5.Workline = t2.Workline


DECLARE @Result table(
	Base nvarchar(50)
	,TotalOutput decimal(18,2)
	,TotalCheck int
	,TargetQty int)

IF(@Workshop != '')
BEGIN
insert into @Result
select Workline as Base
	  ,Sum(TotalOutput) as TotalOutput
	  ,SUM(TotalCheck) as TotalCheck
	  ,Sum(TargetQty) as TargetQty
from #BaseData
group by Workline
END
ELSE IF(@Dept != '')
BEGIN
insert into @Result
select Workshop as Base
	  ,Sum(TotalOutput) as TotalOutput
	  ,SUM(TotalCheck) as TotalCheck
	  ,Sum(TargetQty) as TargetQty
from #BaseData
group by Workshop	
END 
ELSE 
BEGIN
insert into @Result
select Dept as Base
	  ,Sum(TotalOutput) as TotalOutput
	  ,SUM(TotalCheck) as TotalCheck
	  ,Sum(TargetQty) as TargetQty
from #BaseData
group by Dept	
END

select (
select * from @Result for json path
) as [Value]