USE [ORP]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_RM021]    Script Date: 11/1/2021 4:32:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
ALTER PROCEDURE [dbo].[SP_LL_RM021]
@Month int = 10,
@Year int = 2021,
@Factory nvarchar(max) = N'生产部1',
@Dept nvarchar(max) = N'',
@Workshop nvarchar(max) = N'成衣D1车间',
@Line nvarchar(max) = N'D1_Line10'
as 
DECLARE @ColList nvarchar(max) ;
DECLARE @SQLQuery nvarchar(max);

-- Get All Data base on filter
select ta.*,datediff(week, dateadd(week, 
		datediff(day,0,dateadd(month,
		datediff(month,0,[WorkDate]),0))/7, 0),DateAdd(day,-1,[WorkDate])) + 1 as WeekNo,
		ROW_NUMBER() Over (Partition by WorkDate,WorkLine Order by WorkDate,WorkLine) as RN,
		Sum(TotalSAM) Over (Partition by WorkDate,WorkLine Order by WorkDate,WorkLine) as AllStyleSAM,
		Sum(WorkTime) Over (Partition by WorkDate,WorkLine Order by WorkDate,WorkLine) as AllStyleWorkTime,
		Count(1) Over (Partition by WorkDate,WorkLine Order by WorkDate,WorkLine) as CountStyle
into #BaseData
FROM [ORP].[dbo].[RP507](nolock) ta
where Month(WorkDate) = @Month and year(WorkDate) = @Year 
and (@Factory = '' OR ta.Factory in (select * from string_split(@Factory,',')) )
and (@Dept = '' OR ta.ProductArea in (select * from string_split(@Dept,',')) )
and (@Workshop = '' OR ta.workShop in (select * from string_split(@Workshop,',')) )
and (@Line = '' OR ta.workline in (select * from string_split(@Line,',')) );

with t1 as(
	select * from #BaseData
),
t2 as(
-- Balance WorkTime
select ta.Factory,ta.ProductArea,ta.workShop,ta.workline,ta.EmpCount,ta.Style_No,ta.SAM,ta.TotalSAM,
	  case when (Factory in ('VNA','VNB','VNC','VND','VNE') and CountStyle > 1 and AllStyleSAM > 0) then (TotalSAM/AllStyleSAM) * AllStyleWorkTime 
		   else WorkTime end as WorkTime,WorkTime as BaseWorkTime,
		ta.WorkDate,ta.UpdateTime,ta.WeekNo
from t1 ta
)
-- Filter UQ Style and Link Style Type
select ta.*,tc.[Name]
into #TempData
from t2 ta
inner join RM021_UQStyle tb on ta.Style_No collate database_default like N'%'+tb.StyleNo+'%' --= ta.Style_No
inner join RM021_UQStyleType tc on tb.StyleTypeID = tc.ID
where Style_No like N'U02%'


if exists(select 1 from #TempData)
begin
if(DATENAME(dw,DATEFROMPARTS(@Year,@Month,1)) = 'Sunday')
BEGIN
	Update #TempData set WeekNo = WeekNo - 1
END;
with t1 as(
SELECT WeekNo
	  ,[WorkDate]
	  ,tb.Name
      ,case when Sum([WorkTime]) > 0 then Sum([TotalSAM])/Sum([WorkTime]) else 0 end as Rate
	  ,DATENAME(dw,[WorkDate]) as [DayOfWeek]
  FROM #TempData tb
  group by [WorkDate]
	  ,tb.Name
	  ,WeekNo
)
--select * from t1 where Name = 'High support ' 
,
t2 as(
	select WeekNo
	,case when DATEADD(wk, DATEDIFF(wk,0,max([WorkDate])), 6) <  EOMONTH(max([WorkDate])) then DATEADD(wk, DATEDIFF(wk,0,max([WorkDate])), 6)
		  else EOMONTH(max([WorkDate])) end as WorkDate
	,[Name]
	,case when Sum([WorkTime]) > 0 then Sum([TotalSAM])/Sum([WorkTime]) else 0 end as Rate
	,'ZWeekTotal' as [DayOfWeek]
	from #TempData
	group by WeekNo,[Name]
)
--select * from t2 
--where WeekNo = 4 
--Order by WorkDate,Name 
--for json path
,
t2a as(
	select 99 as WeekNo,EOMONTH(max([WorkDate])) as WorkDate,[Name]
	,case when Sum([WorkTime]) > 0 then Sum([TotalSAM])/Sum([WorkTime]) else 0 end as Rate
	,'ZZMonthTotal' as [DayOfWeek]
	from #TempData
	group by [Name]
)
--select * from t2a
,
t3 as(
	select * from t1 
	union all 
	select * from t2
	union all 
	select * from t2a
)
select WeekNo,[WorkDate],[Name],[DayOfWeek],cast(Round(Rate,4) as decimal(18,4)) as Rate 
into #TempResult
from t3
Order by WeekNo,WorkDate,[Name];

Select @ColList = STUFF(
             (SELECT distinct ',[' + [Name] + ']'
              FROM  #TempResult
              FOR XML PATH (''))
             , 1, 1, '');

select @SQLQuery = '
select * from #TempResult 
pivot (
	Max(Rate)
	for [Name] in ('+@ColList+')
) as pvt Order by WeekNo,WorkDate,DayOfWeek for json path,include_null_values'

EXEC(@SQLQuery)
end
else 
 select '' as v
