USE [ORP]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_RM021_StyleCheck]    Script Date: 11/1/2021 4:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LL_RM021_StyleCheck]
@Month int = 10,
@Year int = 2021,
@Factory nvarchar(max) = N'生产部1'
as
with t1 as(
select distinct Style_No
FROM [ORP].[dbo].[RP507] 
where Month(WorkDate) = @Month and year(WorkDate) = @Year 
and (@Factory = '' OR Factory in (select * from string_split(@Factory,',')) )
and Style_No like N'U02%'
),
t2 as(
select * from RM021_UQStyle
)
select t1.Style_No as StyleNo
from t2 
right join t1 on t2.StyleNo = Substring(t1.Style_No,6,7) collate database_default
where t2.StyleNo is null