USE [ETSDB_Regina]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_PREPGA_By_MO_V2]    Script Date: 5/5/2022 11:12:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[SP_LL_RM010] 
  --Filter param
 @pMO nvarchar(MAX) ='', -- MO parameter
 @pStore nvarchar(20) = '', -- Store Param
 @pSO nvarchar(200) = '',
 @pStyleNo nvarchar(200) = ''
as 

DECLARE @MO Table(MO nvarchar(20)); -- Set MO 
insert into @MO
select Name from SplitString(@pMo,',') ; -- Insert Data into MO Table from param

DECLARE @Store nvarchar(20)= @pStore; -- Set Store 
DECLARE @ParameTable Table (Parame nvarchar(100), WorklayerNo int,WorkLayerName nvarchar(2000)); -- Store Data to create Pivot Data Column
DECLARE @ParameList nvarchar(Max); -- Store Parameter List
DECLARE @PIVOTSQL nvarchar(Max) ; -- Pivot Query 

-- Get MO Information 
select ta.CUSTNAME,ta.SaleNo,ta.STYLE_NO,ta.SOItemNo
	,ta.ZDCODE as Zdcode,ta.Take_Date,tb.COLOR_NO as ColorNo ,tb.COLOR_NAME_C as ColorName
	,tb.CM,tb.MY_COUNT as MO_qty
into #Temp_MO_Info
from T_SCZZD(nolock) ta
inner join TB_MK_ZD_COLOR_SIZE(nolock) tb on ta.SID = tb.CNID
where 1 = 1
-- Filter by MO 
AND (ta.Zdcode in (select * from @MO) or @pMO = '')
-- Main MO only start with 00006
and LEFT(ta.ZDCODE,6) in ('000099','000060','000043','000077','000083','000020')
-- Filter by Style if need 
AND (ta.STYLE_NO = @pStyleNo OR @pStyleNo  = '')
-- Filter by SO if need 
AND (ta.SaleNo = @pSO or @pSO = '')
-- Only get MO that's being manufactured
AND ta.ComDate is null;


delete from @MO;
insert into @MO
select distinct Zdcode from #Temp_MO_Info;

	
-- Get Store In/Out Data
select Zdcode,ColorNo,CM,WorklayerNo,WorkLayerName,
		case	when StoreNo in ('TSW1SY','TSW2SY') then 'TSWSY'
				when (@Store = 'CUT' AND (StoreNo like '%MOD%' OR StoreNo like '%WIG%' OR StoreNo like N'%AAPRT%')) then 'MOD_BEL'
				when StoreNo like N'%HDL%' then 'HDL'
				when StoreNo like N'%CUT%' then 'CUT'
				when StoreNo like N'%LAS%' then 'LAS'
				when StoreNo like N'%MOD%' then 'MOD'
				else StoreNo
		end as Store,
		StoreNo,
		[sid],Billdate,Ccount,[State],Bundleid
into #StoreIOs 
from T_StoreInOutFlow(nolock) ta 
where 1 = 1
-- Filter by MO 
AND ta.Zdcode in (select * from @MO)  
-- 2022-05-05 Lyrio : Remove InOutType Filter - SCR202204050
-- only get data in out , not switch between Store itself
--and ta.InOutType = '0'
-- Only Get Data from specific Store as user request
and ta.StoreNo in ('ACMOD','AAMOD' -- MOD
				  ,'ACHDL'-- HDL
				  ,'TSW1','TSW2','TSW2SY','TSW1SY' -- TSW
				  ,'AAWIG','AACGR'
				  ,'AALAS' -- LAS
				  ,'AACUT' -- CUT
				  ,'AAPRT烫唛','AAPRT移印' -- AAPRT
				  );

-- 2022-05-05 Lyrio : Remove Duplicate Bundle in each store and each Type ( In or Out) 
with t1 as(
select *,ROW_NUMBER() over (partition by Store,BundleID,State order by Billdate) as RN
from #StoreIOs 
)
delete from #StoreIOs where sid in (select sid from t1 where RN > 1);

select Zdcode,ColorNo,CM,WorklayerNo,WorkLayerName,Store,StoreNo,
	  Sum(case when State = 1 then Ccount else 0 end) as TotalIn,
	  Sum(case when State = 2 then Ccount else 0 end) as TotalOut
into #Base_Data
from #StoreIOs
group by Zdcode,ColorNo,CM,WorklayerNo,WorkLayerName,Store,StoreNo




-- Get WorklayerNo for checking Store
select distinct WorklayerNo,
				WorkLayerName
into #Temp_WorkLayer
From #Base_Data (Nolock)
where 1 = 1
and Store = @Store;




-- Config Result -- 


-- Modify Data to Pivot
with 
t01 as (
	select Zdcode,ColorNo,CM,WorklayerNo,WorkLayerName,Store,Sum(TotalIn) as TotalIn,Sum(TotalOut) as TotalOut
	From #Base_Data (Nolock)
	where 1 = 1
	and WorklayerNo in (select WorklayerNo from #Temp_WorkLayer)
	group by Zdcode,ColorNo,CM,WorklayerNo,WorkLayerName,Store
),
t02 as (
	select Zdcode,ColorNo,CM,WorklayerNo,WorkLayerName,'TSW' as Store,Sum(TotalIn) as TotalIn,Sum(TotalOut) as TotalOut
	from t01 
	where Store in ('TSW1','TSW2')
	group by Zdcode,ColorNo,CM,WorklayerNo,WorkLayerName
),
t1 as(
	select * from t01 
	union all
	select * from t02
),
-- Create Parame to Pivot . In Data
t4 as(
select ZdCode,ColorNo,CM,
	   cast(WorklayerNo as nvarchar(20)) + '_' + Store + '_In' as Parame,
	   TotalIn as Value
from t1
),
-- Create Parame to Pivot . Out Data
t5 as (
select ZdCode,ColorNo,CM,
	   cast(WorklayerNo as nvarchar(20)) + '_' + Store + '_Out' as Parame,
	   TotalOut as Value
from t1
),
-- Conmbine Data to Pivot
t6 as(
select * from t4 
union all 
select * from t5
)
-- Put Combine Data in TempTable
select * into #Temp_Result
from t6;

--select * from #Temp_Result

IF EXISTS (SELECT TOP 1 1 FROM #Temp_Result)
BEGIN

 --Create Pivot Parameter List 
IF @Store = 'MOD'
BEGIN
insert into @ParameTable
select * 
from (SELECT 'MOD_In' as Parame union all SELECT 'MOD_Out' union all SELECT 'HDL_In'
union all SELECT 'TSW1_In'
union all SELECT 'TSW2_In'
union all SELECT 'TSW_In'
) ta,#Temp_WorkLayer Order by WorklayerNo
END
ELSE if @Store = 'CUT'
BEGIN
insert into @ParameTable
select * 
from (SELECT 'CUT_In' as Parame union all SELECT 'CUT_Out' union all SELECT 'MOD_BEL_In' 
union all SELECT 'TSW1_In'
union all SELECT 'TSW2_In'
union all SELECT 'TSW_In'
union all SELECT 'TSWSY_In' ) ta,#Temp_WorkLayer Order by WorklayerNo
END
ELSE if @Store = 'LAS'
BEGIN
insert into @ParameTable
select * 
from (SELECT 'LAS_In' as Parame union all SELECT 'LAS_Out' 
union all SELECT 'TSW1_In'
union all SELECT 'TSW2_In'
union all SELECT 'TSW_In'
) ta,#Temp_WorkLayer Order by WorklayerNo
END
ELSE if @Store = 'HDL'
BEGIN
insert into @ParameTable
select * 
from (SELECT 'HDL_In' as Parame union all SELECT 'HDL_Out' union all SELECT 'MOD_In' 
union all SELECT 'AACGR_In'
union all SELECT 'AAWIG_In'
union all SELECT 'TSW1_In'
union all SELECT 'TSW2_In'
union all SELECT 'TSW_In'
) ta,#Temp_WorkLayer Order by WorklayerNo
END;

select TOP 1 @ParameList = STUFF((
            SELECT ',' + ('[' + cast(WorklayerNo as nvarchar(50)) + '_'+ Parame + ']')
            FROM @ParameTable
            FOR XML PATH('')
            ), 1, 1, '')
FROM @ParameTable;
-- End Create Pivot Parameter List


SET @PIVOTSQL = '
with t1 as(
select * 
from #Temp_Result
PIVOT (
	MAX(Value)
	for Parame in ('+@ParameList+')
)as pvt
)
select ta.*,'+@ParameList+'
from t1 
right join #Temp_MO_Info ta on ta.Zdcode = t1.ZdCode and ta.ColorNo = t1.ColorNo and ta.CM = t1.CM 
Order by Saleno,Zdcode
for json path,include_null_values 
';
Exec(@PIVOTSQL);

select * from #Temp_WorkLayer for json path
END 
ELSE 
BEGIN
SELECT * from #Temp_MO_Info for json path
END