USE [ROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_RM017_Get]    Script Date: 11/30/2021 3:54:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[SP_RM017_Get]
as
with t1 as(
select Zdcode,Size,Sum(TotalIn) as TotalIn,Sum(TotalOut) as TotalOut,Sum(TotalOutput) as TotalOutput
from RM017
group by Zdcode,Size
)
select ta.STYLE_NO as StyleNo
	,ta.SaleNo,ta.SOItemNo,t1.Zdcode,tb.COLOR_NAME_C as ColorName
	,tb.MY_COUNT as MOQty,tb.CM as Size,ta.Take_Date as ShipDate
	,t1.TotalIn,t1.TotalOut,t1.TotalOutput
from t1 
inner join ETSDB_Regina.dbo.T_SCZZD(nolock) ta on t1.Zdcode = ta.ZDCODE
inner join ETSDB_Regina.dbo.TB_MK_ZD_COLOR_SIZE(nolock) tb on ta.sid = tb.CNID and tb.CM = t1.Size
Order by STYLE_NO,SaleNo,SOItemNo,Zdcode,CM 
for json path,include_null_values