USE [ROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_TargetOutputHourSummary]    Script Date: 10/28/2021 4:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_TargetOutputHourSummary]
 @Factory nvarchar(10) = '',
 @Dept nvarchar(50) = 'DPD1',
 @Workshop nvarchar(50) = '',
 @Workline nvarchar(50) = '',
 @GxNo nvarchar(max) = '698,631,627,51034,178,632,700'
as 
DECLARE @TbGxNo Table(GxNo nvarchar(50));

insert into @TbGxNo
select *
from string_split(@GxNo,',');

select WorkLineName,WorkShop,ProductArea as Dept
into #TempWorkline
from T_ETS_Workline (nolock)
where 1 = 1
and IsUse = 1
and SalaryKind = 3
and (ZhuBie = @Factory OR @Factory = '')
and (WorkShop = @Workshop OR @Workshop = '')
and (ProductArea = @Dept OR @Dept = '')
and (WorkLineName = @Workline OR @Workline = '');


select TimeString,GxNo,Sum(TotalQty) as TotalQty
into #Output
from #TempWorkline t1
inner join WorklineSummary (nolock) ta on ta.WorkLine = t1.WorkLineName and ta.WorkDate = convert(date,GetDate())
where GxNo in (select * from @TbGxNo)
group by TimeString,GxNo;

select TimeString,Sum(HourAimQty) as AimQty
into #Target
from T_ETS_WorklineTarget (nolock) ta 
inner join #TempWorkline t1 on ta.WorkLine = t1.WorkLineName
where 1 = 1
and ta.UpdateTime >= convert(date,GetDate())
group by TimeString;

with 
t3 as(
	select TimeString,Sum(TotalQty) as TotalQty
	from #Output
	group by TimeString
),
t5 as(
	select t4.*,isnull(t3.TotalQty,0) as OutputQty
	from #Target t4
	left join t3 on t4.TimeString = t3.TimeString collate database_default
),
t6 as(
	select *,Sum(AimQty) Over ( Order by TimeString ROWS BETWEEN UNBOUNDED PRECEDING  AND UNBOUNDED FOLLOWING) as TotalAimQty 
			,Sum(OutputQty) Over ( Order by TimeString ROWS BETWEEN UNBOUNDED PRECEDING  AND CURRENT ROW) as TotalOutputQty
	from t5
)
select(
	select *,cast(round(TotalOutputQty/cast(TotalAimQty as decimal(18,2))*100,2) as decimal(18,2)) as TotalOutputRate
	from t6 
	for json path
) as Value