-- CReated in 172.19.18.86.ROS

USE [ROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ReworkWFTErrorTop3]    Script Date: 2022-02-16 6:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[SP_ReworkWFTErrorTop3] 
 @Factory nvarchar(50) = '',
 @Dept nvarchar(50) = 'DPD1',
 @Workshop nvarchar(50) = '',
 @Workline nvarchar(50) = '',
 @GxNo nvarchar(max) =  ''
as
DECLARE @TbGxNo Table(GxNo nvarchar(50));
DECLARE @TbWorkshop Table(Workshop  nvarchar(50));

insert into @TbGxNo
select *
from string_split(@GxNo,',');


insert into @TbWorkshop
select * 
from string_split(@Workshop,',');


with 
-- Get all WorkLine
t0 as(
	select WorkLineName as Workline,WorkShop,ProductArea as Dept
	from ETSDB_Regina.dbo.TWorkLine(nolock)
	where 1 = 1
	and IsUse = 1
	and SalaryKind = 3
	and (WorkShop collate database_default in (select * from @TbWorkshop) OR @Workshop = '')
	and (ProductArea = @Dept OR @Dept = '')
	and (WorkLineName = @Workline OR @Workline = '')
),
t1 as(
select ta.*
from T_ETS_QC (nolock) ta 
inner join t0 on t0.Workline = ta.Workline
where BillDate >= COnvert(date,GetDate())
and (QCGxNo in (select * from @TbGxNo) or @GxNo = '')
and ReturnWorkCount > 0 
)
-- Dữ liệu kiểm hàng gốc
select * 
into #TempRework
from t1 ;

--select * from #TempRework;

with 
--t1 as(
---- Lấy thời gian quẹt thẻ hàng lỗi theo từng thẻ
--select * from (
--	select CardCode,BillDate,ROW_NUMBER() over(partition by CardCode,BillDate Order by CardCode,BillDate desc) as RN
--	from #TempRework
--	where ReturnWorkCount > 0 
--)  ta where RN = 1
--),
---- Lấy thông tin theo thời gian quẹt thẻ hàng lỗi theo từng thẻ
--t2 as(
--	select ta.* 
--	from t1
--	inner join #TempRework ta on t1.CardCode = ta.CardCode and t1.BillDate = ta.BillDate
--),
-- Tính tổng số lỗi theo mã lỗi
t3 as(
	select ReturnWorkCode
		  ,Sum(ReturnWorkCount) as ReturnWorkCount 
	from #TempRework
	group by ReturnWorkCode
)
--- kết quả
select TOP 3 ReturnWorkName as [Param],cast(ReturnWorkCount as decimal(18,2)) as [Value]
from t3
--- Bảng thông tin lỗi chi tiết
inner join ETSDB_Regina.dbo.tbBsReturnWorkCode (nolock) ta on ta.ReturnWorkCode = t3.ReturnWorkCode
order by [Value] desc
