USE [ETSDB_Regina]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_FacD_PRE]    Script Date: 11/22/2021 10:19:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LL_FacD_PRE]
@SaleNo nvarchar(20) = 'A160092748'
as
-- SaleOrder Info
select a.CUSTNAME,
	a.SaleNo,
	a.STYLE_NO,
	a.SOItemNo,
	a.ZDCODE,
	a.Take_Date,
	b.COLOR_NO,
	b.COLOR_NAME_C,
	b.CM,
	sum(b.MY_COUNT) as MO_qty --into #Temp_MO_Info
into #OrderInfors
from T_SCZZD(nolock) a
left join TB_MK_ZD_COLOR_SIZE(nolock) b
on a.SID=b.CNID
where SaleNo= @SaleNo
and ZDCODE not like N'00001%'
group by a.CUSTNAME,a.SaleNo,a.STYLE_NO,a.SOItemNo,a.ZDCODE,a.Take_Date,b.COLOR_NO,b.COLOR_NAME_C,b.CM
;

--select * from #OrderInfors;

select distinct ZDCODE 
into #Zdcodes
from #OrderInfors 

--select * from #Zdcodes;
;

---- FacD MO
-- FacD MO Store IO Data 
select case when State = 1 then 'In' else 'Out' end as State,( case when StoreNo like N'%DPMT-PRT-%' then 'DPMT-PRT-01'
						when StoreNo like N'%618DMDI%' then '618DMDI'
						else StoreNo end) as StoreNo,Zdcode,CM,Sum(Ccount) as Total
into #StoreIOs
from T_StoreInOutFlow (nolock)
where Zdcode in (select ZdCode from #Zdcodes where ZDCODE like N'000077%') 
and InOutType = '0'
and ColorNo != ''
group by State,StoreNo,Zdcode,CM;

--select * from #StoreIOs;

--Get BraCup In
select Zdcode,CM,Sum(Ccount) as Total
into #BraCupIn
from (select *,ROW_NUMBER() OVER (Partition by BundleId Order by Billdate desc) as RN
	from  T_StoreInOutFlow (nolock)
	where Zdcode in (select ZdCode from #Zdcodes where ZDCODE not like N'000077%') 
	and ColorNo != ''
	and StoreNo = 'DTSW1'
	and State = 1
	and WorklayerNo in('9000','9900')
) ta where RN = 1
group by Zdcode,CM

--select * from #BraCupIn;

;
with
t1 as (
	select * from #OrderInfors
),

t2 as (
	select * from #StoreIOs
),
-- Create Col Name For Pivot
t3 as (
	select Zdcode,CM,StoreNo+'_'+State as Parame 
	, Total as Value 
	from t2
),
-- Pivot 
t4 as (
	select * 
	from t3
	Pivot(
		max(Value)
		for Parame in ([DCUT_In],[DCUT_Out],[DPMT-PRT-01_In],[DPMT-PRT-01_Out],DMOD01_In,DMOD01_Out,[DMOD02_In],[DMOD02_Out],[DTSW618_In],[618DMDI_Out],DTSW1_In,DTSW1_Out)
	) as pvt
),
-- Sale's MO data
t5 as (
	select distinct SOItemNo,ZDCODE from t1
)
,
t6 as(
-- Compare MO by SOItemNo
select tb.ZDCODE as FacDMO, ta.ZDCODE as OtherMo 
from t5 tb
inner join t5 ta on tb.SOItemNo = ta.SOItemNo 
where tb.ZDCODE != ta.ZDCODE
),
-- Get BraCup In
t7 as (
	select * from #BraCupIn
),
-- Combine Data
t8 as (
select t4.*,t7.Total as Total_BraCup_In
from t4
left join t6 on t4.Zdcode = t6.FacDMO
left join t7 on t7.Zdcode = t6.OtherMo and t4.CM = t7.CM
)
,
-- Final Result
t9 as (
select t1.STYLE_NO,t1.SaleNo,t1.ZDCODE,t1.Take_Date,t1.COLOR_NAME_C,t1.CM,t1.MO_qty,0 as InpQty
	   ,isnull(t8.DCUT_In,0) as DCUT_In
	   ,isnull(t8.DCUT_Out,0) as DCUT_Out
	   ,case when t1.MO_qty> isnull(t8.DCUT_Out,0) then  t1.MO_qty - isnull(t8.DCUT_Out,0) else 0 end as DCUT_Lack

	   ,isnull(t8.[DPMT-PRT-01_In],0) as [DPMT-PRT-01_In]
	   ,isnull(t8.[DPMT-PRT-01_Out],0) as [DPMT-PRT-01_Out]
	   ,case when t1.MO_qty > isnull(t8.[DPMT-PRT-01_Out],0) then t1.MO_qty - isnull(t8.[DPMT-PRT-01_Out],0) else 0 end as [DPMT-PRT-01_Lack]

	   ,isnull(t8.DMOD01_In,0) as DMOD01_In
	   ,isnull(t8.DMOD01_Out,0) as DMOD01_Out
	   ,case when t1.MO_qty > isnull(t8.DMOD01_Out,0) then t1.MO_qty - isnull(t8.DMOD01_Out,0) else 0 end  as DMOD01_Lack

	   ,isnull(t8.DMOD02_In,0) as DMOD02_In
	   ,isnull(t8.DMOD02_Out,0) as DMOD02_Out
	   ,case when t1.MO_qty > isnull(t8.DMOD02_Out,0) then t1.MO_qty - isnull(t8.DMOD02_Out,0) else 0 end  as DMOD02_Lack

	   	,isnull(t8.DTSW618_In,0) as DTSW618_In
	   ,isnull(t8.[618DMDI_Out],0) as DTSW618_Out
	   ,case when t1.MO_qty > isnull(t8.[618DMDI_Out],0) then t1.MO_qty - isnull(t8.[618DMDI_Out],0) else 0 end  as DTSW618_Lack

	   ,isnull(t8.DTSW1_In,0) as DTSW1_In
	   ,isnull(t8.DTSW1_Out,0) as DTSW1_Out
	   ,case when t1.MO_qty > isnull(t8.DTSW1_In,0) then t1.MO_qty - isnull(t8.DTSW1_In,0) else 0 end as DTSW1_WIP

	   ,isnull(t8.Total_BraCup_In,0) as Total_BraCup_In
	   ,case when t1.MO_qty > isnull(t8.Total_BraCup_In,0) then t1.MO_qty - isnull(t8.Total_BraCup_In,0) else 0 end  as Total_BraCup_Lack
from t8
inner join t1 on t1.ZDCODE = t8.Zdcode and t1.CM = t8.CM
),
-- SO Summary
t10 as (
	select STYLE_NO,SaleNo,'Total' as ZDCODE,MAX(Take_Date) as Take_Date,'' as COLOR_NAME_C,'' as CM,
		   SUM(MO_qty) as MO_qty,
		   sum(InpQty) as InpQty,
		   sum(DCUT_In) as DCUT_In,
		   sum(DCUT_Out) as DCUT_Out,
		   sum(DCUT_Lack) as DCUT_Lack,
		   sum([DPMT-PRT-01_In]) as [DPMT-PRT-01_In],
		   sum([DPMT-PRT-01_Out]) as [DPMT-PRT-01_Out],
		   sum([DPMT-PRT-01_Lack]) as [DPMT-PRT-01_Lack],
		   sum(DMOD01_In) as DMOD01_In,
		   sum(DMOD01_Out) as DMOD01_Out,
		   sum(DMOD01_Lack) as DMOD01_Lack,

		   sum(DMOD02_In) as DMOD02_In,
		   sum(DMOD02_Out) as DMOD02_Out,
		   sum(DMOD02_Lack)  as DMOD02_Lack,

		   sum(DTSW618_In) as DTSW618_In,
		   sum(DTSW618_Out) as DTSW618_Out,
		   sum(DTSW618_Lack) DTSW618_Lack,

		   sum(DTSW1_In) as DTSW1_In,
		   sum(DTSW1_Out) as DTSW1_Out,
		   sum(DTSW1_WIP) as DTSW1_WIP,
		   sum(Total_BraCup_In) as Total_BraCup_In,
		   sum(Total_BraCup_Lack) as Total_BraCup_Lack
	from t9
	group by STYLE_NO,SaleNo
),
-- MO Summary
t11 as (
		select STYLE_NO,SaleNo,ZDCODE,Take_Date,COLOR_NAME_C,'ZDTotal' as CM,
		   SUM(MO_qty) as MO_qty,
		   sum(InpQty) as InpQty,
		   sum(DCUT_In) as DCUT_In,
		   sum(DCUT_Out) as DCUT_Out,
		   sum(DCUT_Lack) as DCUT_Lack,
		   sum([DPMT-PRT-01_In]) as [DPMT-PRT-01_In],
		   sum([DPMT-PRT-01_Out]) as [DPMT-PRT-01_Out],
		   sum([DPMT-PRT-01_Lack]) as [DPMT-PRT-01_Lack],
		   sum(DMOD01_In) as DMOD01_In,
		   sum(DMOD01_Out) as DMOD01_Out,
		   sum(DMOD01_Lack) as DMOD01_Lack,
		   
		   sum(DMOD02_In) as DMOD02_In,
		   sum(DMOD02_Out) as DMOD02_Out,
		   sum(DMOD02_Lack)  as DMOD02_Lack,

		   sum(DTSW618_In) as DTSW618_In,
		   sum(DTSW618_Out) as DTSW618_Out,
		   sum(DTSW618_Lack) DTSW618_Lack,

		   sum(DTSW1_In) as DTSW1_In,
		   sum(DTSW1_Out) as DTSW1_Out,
		   sum(DTSW1_WIP) as DTSW1_WIP,
		   sum(Total_BraCup_In) as Total_BraCup_In,
		   sum(Total_BraCup_Lack) as Total_BraCup_Lack
	from t9
	group by STYLE_NO,SaleNo,ZDCODE,Take_Date,COLOR_NAME_C
),
--Result + Summary
t12 as (
select * from t9 
union all 
select * from t11
union all
select * from t10
)
select * from t12
order by STYLE_NO,ZDCODE,COLOR_NAME_C,CM
