USE [ROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_LineWorkingMO_Today]    Script Date: 11/25/2021 10:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LL_LineWorkingMO_Today]
@Workline nvarchar(20) = N'E1-L3',
@pGxNo nvarchar(max) = '698'
as

DECLARE @GxNo TABLE (GxNo nvarchar(10));
insert into @GxNo
select * from string_split(@pGxNo,',');

with t1 as(
	select distinct Upper(WorkLine) as WorkLine,ZdCode collate database_default Zdcode 
	from ROS.dbo.WorklineSummary (nolock) ta
	where WorkDate = convert(date,GetDate())
	and WorkLine = @Workline
	and GxNo in (select * from @GxNo)
),
t2 as(
	select t1.*,ta.Wrk_no as Workshop
	from t1 
	inner join ROS.dbo.HR_Org (nolock) ta on t1.WorkLine = ta.Lin_no collate database_default
),
t3 as(
select t2.*,STYLE_NO as StyleNo,SaleNo collate database_default SaleNo,SOItemNo collate database_default SOItemNo
     ,ta.COLOR_NO as ColorName,Sum(ta.Quantity) as MOQty,ExportDate as ShipDate,N'' as Note
from t2 
inner join T_ETS_MOInProduction(nolock) ta on ta.ZDCODE = t2.Zdcode
group by WorkLine,Workshop,t2.Zdcode,STYLE_NO,SaleNo,SOItemNo,COLOR_NO,ExportDate
)
select WorkLine,Workshop,Zdcode,t3.StyleNo,SaleNo,SOItemNo,ColorName
	  ,isnull(tb.ClosestExportDate,t3.ShipDate) ShipDate
	  ,isnull(tb.ClosestExportDateQuantity,t3.MOQty) MOQty
	  ,Note
from t3
left join BigSOInfor (nolock) tb on t3.SaleNo = tb.BigSO and t3.SOItemNo = tb.BigSOItemNo

