USE [ETSDB_Regina]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_FacD_PRE]    Script Date: 11/22/2021 10:19:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[SP_RM011N]
@SaleNo nvarchar(20) = 'A160123301'
as
SET nocount on;
-- SaleOrder Info
drop table if exists #OrderInfors;
select a.CUSTNAME CustomerName
	,a.STYLE_NO StyleNo
	,a.SaleNo,a.SOItemNo
	,a.ZDCODE Zdcode
	,a.Take_Date ShipDate
	,COLOR_NO as ColorNo
	,COLOR_NAME_C as  ColorName
	,CM as Size
	,sum(b.MY_COUNT) as MOQuantity 
into #OrderInfors
from T_SCZZD(nolock) a
inner join TB_MK_ZD_COLOR_SIZE(nolock) b on a.SID=b.CNID
where SaleNo= @SaleNo
and LEFT(ZDCODE,6) in ('000077')
group by a.CUSTNAME,a.SaleNo,a.STYLE_NO,a.SOItemNo,a.ZDCODE,a.Take_Date,b.COLOR_NO,b.COLOR_NAME_C,b.CM;

-- Create ZDCode list
drop table if exists #Zdcodes;
select distinct ZDCODE 
into #Zdcodes
from #OrderInfors 


drop table if exists #StoreIOs;
select * 
into #StoreIOs
from T_StoreInOutFlow(nolock) 
where Zdcode in (select * from #Zdcodes)
and StoreNo in ('DCUT','DTSW618','618DMOD1','618DMOD2','D618DMDI1','D618DMDI2','D618FQC','DMOD01','DMOD02','DTSW1');

with t0 as(
	select sid,ROW_NUMBER() over (partition by StoreNo,Zdcode,BundleId,State order by BillDate) as RN
	from #StoreIOs
)
delete from #StoreIOs where sid in (select sid from t0 where RN > 1);

select (
	select * 
	from #OrderInfors
	for json path
) as [Value]

union all 

select (
	select StoreNo,Zdcode,ColorNo,CM as Size
		,Sum(case when State = 1 then Ccount else 0 end) as TotalIn 
		,Sum(case when State = 2 then Ccount else 0 end) as TotalOut
	from #StoreIOs
	group by StoreNo,Zdcode,ColorNo,CM 
	order by Zdcode
	for json path
) as [Value]