USE [ETSDB_Regina]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_618_RM011]    Script Date: 11/15/2021 2:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[SP_LL_618_RM011] 
@SO nvarchar(20) = 'A160067472'
as
select a.STYLE_NO,
	   a.SaleNo,
	   a.ZDCODE,
	   Convert(nvarchar(10),a.Take_Date,120) as Take_Date,
	   b.COLOR_NO,
	   b.COLOR_NAME_C,
	   b.CM,
	   sum(b.MY_COUNT) as MO_qty
into #Temp_SO_Info
from
T_SCZZD(nolock) a
left join
TB_MK_ZD_COLOR_SIZE(nolock) b
on a.SID=b.CNID
where SaleNo = @SO
group by a.SaleNo,a.STYLE_NO,a.SOItemNo,a.ZDCODE,a.Take_Date,b.COLOR_NO,b.COLOR_NAME_C,b.CM;

select StoreNo,
	   Zdcode,
	   ColorNo,
	   ColorName,
	   CM,
	   Sum(case when State = 1 then Ccount else 0 end) as TotalIn,
	   Sum(case when State = 2 then Ccount else 0 end) as TotalOut
into #Temp_Store_IO
From T_StoreInOutFlow (Nolock)
where 1 = 1
and StoreNo in ('DCUT','DTSW618','618DMOD3','618DMOD1','618DMDI1','DMOD01')
and Zdcode in (select Zdcode from #Temp_SO_Info)
and InOutType = '0'
group by StoreNo,
	   Zdcode,
	   ColorNo,
	   CM,
	   ColorName;


with 
t1 as(
select Zdcode,
	   CM,
	   StoreNo + '_In' as Parame,
	   TotalIn as Value
from #Temp_Store_IO
),
t2 as (
select Zdcode,
	   CM,
	   StoreNo + '_Out' as Parame,
	   TotalOut as Value
from #Temp_Store_IO
),
t3 as(
select * from t1 
union all
select * from t2
),
t4a as (
	select * 
	from t3 
	PIVOT(
		Max(Value)
		for Parame in ([DCUT_Out],[DTSW618_In],[DTSW618_Out],[618DMOD3_In],[618DMOD3_Out],[618DMOD1_In],[618DMOD1_Out],[618DMDI1_In],[618DMDI1_Out],[DMOD01_In])
	) as pvt
),
t4 as (
	select Zdcode,CM
	,isnull([DCUT_Out],0) as [DCUT_Out]
	,isnull([DTSW618_In],0) as [DTSW618_In],isnull([DTSW618_Out],0) as [DTSW618_Out]
	,isnull([618DMOD3_In],0) as [618DMOD3_In],isnull([618DMOD3_Out],0) as [618DMOD3_Out]
	,isnull([618DMOD1_In],0) as [618DMOD1_In],isnull([618DMOD1_Out],0) as [618DMOD1_Out]
	,isnull([618DMDI1_In],0) as [618DMDI1_In],isnull([618DMDI1_Out],0) as [618DMDI1_Out]
	,isnull([DMOD01_In],0) as [DMOD01_In]
	from t4a
),
-- Base Result
t5 as (
select ta.*
		--DCUT
	   ,t4.[DCUT_Out],t4.[DCUT_Out] - ta.MO_qty as [DCUT_Out_Lack]
	   -- DTSW618
	   ,t4.[DTSW618_In],t4.[DTSW618_Out],t4.[DTSW618_In] - t4.[DTSW618_Out] as [DTSW618_Stock],t4.[DTSW618_In]-ta.MO_qty as [DTSW618_Lack]
	   --618DMOD3
	   ,t4.[618DMOD3_In],t4.[618DMOD3_Out],t4.[618DMOD3_In] - t4.[618DMOD3_Out] as [618DMOD3_Stock]
	   --618DMOD1
	   ,t4.[618DMOD1_In],t4.[618DMOD1_Out],t4.[618DMOD1_In] - t4.[618DMOD1_Out] as [618DMOD1_Stock]
	   --618DMDI1
	   ,t4.[618DMDI1_In],t4.[618DMDI1_Out],t4.[618DMDI1_In] - t4.[618DMDI1_Out] as [618DMDI1_Stock],t4.[618DMDI1_Out]-ta.MO_qty as [618DMDI1_Lack]
	   --DMOD01
	   ,t4.[DMOD01_In]
from t4 
inner join #Temp_SO_Info ta on t4.Zdcode = ta.ZDCODE and t4.CM = ta.CM
),
-- MO Summary 
t6 as(
select STYLE_NO,SaleNo,ZDCODE,MAX(Take_Date) as Take_Date,'ZZZ' as COLOR_NO,'' as COLOR_NAME_C,'ZDTotal' as CM
	  ,SUM(MO_qty) as MO_qty
	  ,sum([DCUT_Out]) as [DCUT_Out]
	  ,sum([DCUT_Out_Lack]) as [DCUT_Out_Lack]

	  ,sum([DTSW618_In]) as [DTSW618_In]
	  ,sum([DTSW618_Out]) as [DTSW618_Out]
	  ,sum([DTSW618_Stock]) as [DTSW618_Stock]
	  ,sum([DTSW618_Lack]) as [DTSW618_Lack]

	  ,sum([618DMOD3_In]) as [618DMOD3_In]
	  ,sum([618DMOD3_Out]) as [618DMOD3_Out]
	  ,sum([618DMOD3_Stock]) as [618DMOD3_Stock]

	  ,sum([618DMOD1_In]) as [618DMOD1_In]
	  ,sum([618DMOD1_Out]) as [618DMOD1_Out]
	  ,sum([618DMOD1_Stock]) as [618DMOD1_Stock]

	  ,sum([618DMDI1_In]) as [618DMDI1_In]
	  ,sum([618DMDI1_Out]) as [618DMDI1_Out]
	  ,sum([618DMDI1_Stock]) as [618DMDI1_Stock]
	  ,sum([618DMDI1_Lack]) as [618DMDI1_Lack]

	  ,sum([DMOD01_In]) as [DMOD01_In]

from t5
group by STYLE_NO,SaleNo,ZDCODE
),
-- SO Summary
t7 as (
select STYLE_NO,SaleNo,'Total' as ZDCODE,MAX(Take_Date) as Take_Date,'ZZZ' as COLOR_NO,'' as COLOR_NAME_C,'' as CM
	  ,SUM(MO_qty) as MO_qty
	  ,sum([DCUT_Out]) as [DCUT_Out]
	  ,sum([DCUT_Out_Lack]) as [DCUT_Out_Lack]

	  ,sum([DTSW618_In]) as [DTSW618_In]
	  ,sum([DTSW618_Out]) as [DTSW618_Out]
	  ,sum([DTSW618_Stock]) as [DTSW618_Stock]
	  ,sum([DTSW618_Lack]) as [DTSW618_Lack]

	  ,sum([618DMOD3_In]) as [618DMOD3_In]
	  ,sum([618DMOD3_Out]) as [618DMOD3_Out]
	  ,sum([618DMOD3_Stock]) as [618DMOD3_Stock]

	  ,sum([618DMOD1_In]) as [618DMOD1_In]
	  ,sum([618DMOD1_Out]) as [618DMOD1_Out]
	  ,sum([618DMOD1_Stock]) as [618DMOD1_Stock]

	  ,sum([618DMDI1_In]) as [618DMDI1_In]
	  ,sum([618DMDI1_Out]) as [618DMDI1_Out]
	  ,sum([618DMDI1_Stock]) as [618DMDI1_Stock]
	  ,sum([618DMDI1_Lack]) as [618DMDI1_Lack]

	  ,sum([DMOD01_In]) as [DMOD01_In]

from t5
group by STYLE_NO,SaleNo
),
t8 as(
select * from t7
union all
select * from t6
union all
select * from t5
)
select * from t8
Order by SAleNo,ZDCODE,COLOR_NO
for json path,include_null_values