USE [ETSDB_Regina]
GO
/****** Object:  StoredProcedure [dbo].[SP_LL_RM016]    Script Date: 11/15/2021 2:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LL_RM016]
 @pStartDate nvarchar(10) = '2020-12-18',
 @pEndDate nvarchar(10) = '2020-12-18',
 @pMO nvarchar(max) = '',
 @pStoreNo nvarchar(max) = '',
 @pWorkshop nvarchar(max) = 'D1'
 AS

---- Input----
DECLARE @StartDate date = convert(date,@pStartDate);
DECLARE @EndDate date = convert(date,@pEndDate);

DECLARE @StoreNo Table(StoreNo nvarchar(20));
insert into @StoreNo
select [NAME] as Store from SplitString(@pStoreNo,',')

DECLARE @Workshop Table(Workshop nvarchar(20));
insert into @Workshop
select [NAME] as Workshop from SplitString(@pWorkshop,',')
------End Input --------

--- Employee Data  ---
select ta.*
into #TempData
from EmployeeEfficencyInfo(nolock) ta 
where 1 = 1
-- Query all Indexed Column 
and (ta.Work_Date between @StartDate and @EndDate OR @pStartDate = '' OR @pEndDate = '')
and (WorkLine like N'D%')
and (ta.Zdcode = @pMO OR @pMO = '')
and (ta.GxNo in ('629','637','638','640','642','645','647','700','8132')); 

select ta.* 
into #TempEmpData
from #TempData ta
inner join TWorkLine(nolock) tb on ta.WorkLine = tb.WorkLineName
where 1 = 1 
and (tb.WorkShop in (select * from @Workshop) OR @pWorkshop = '')

--- End EmpployeeData ---- 

--select * from #TempEmpData

--- MO Data ----
select ta.STYLE_NO as StyleNo
		,SaleNo
		,ZDCODE as Zdcode
		,Take_Date as ShipDate
		,Color = STUFF((
					SELECT ',' + COLOR_NO
					FROM ( select cnid,COLOR_NO from TB_MK_ZD_COLOR_SIZE where CNID = ta.SID group by cnid,COLOR_NO) te 
					FOR XML PATH('')
					), 1, 1, '')
		,MY_COUNT as MOQty
into #TempMOInfo
from T_SCZZD(nolock) ta 
where SysZhuBie = 'VND'
and (ta.Zdcode = @pMO OR @pMO = '')
--- End MO Data

select distinct zdcode 
into #Zdcodes
from #TempMOInfo

select distinct StyleNo
into #StyleNos
from #TempMOInfo


---- Store IO Data  -- 
select * 
into #TempStoreIO 
from T_StoreInOutFlow(nolock) ta  
where 1 = 1 
-- Query all Indexed Column 
and ((ta.BillDate >= @StartDate and ta.BillDate <= @EndDate) OR @pStartDate = '' OR @pEndDate = '')
and ta.StoreNo in ('D1','D2','D3','DPD1','DTSW3') --OR @pStoreNo = '')
and (ta.Zdcode = @pMO OR @pMO = '')
and Zdcode in (select * from #Zdcodes)
and InOutType = '0';
--- End StoreIO Data --- 


--- Thu cong- kiem tra ban thanh pham cham keo 手工-点胶查半成品
select distinct GxCode 
into #TempGxChamKeo
from tb_stylegxMain(nolock) ta 
inner join tb_stylegxDetail(nolock) tb on ta.sid = tb.cnid
where GxName like N'%Thu cong- kiem tra ban thanh pham cham keo 手工-点胶查半成品%'
and ta.StyleNo in (select * from #StyleNos)
;
--- End ----

with t1 as(
	select tb.NAME as Workline,Zdcode
			,SUM(case when ta.State = '1' then Ccount else 0 end) as TotalStoreIn 
			,SUM(case when ta.State = '2' then Ccount else 0 end) as TotalStoreOut 
	from #TempStoreIO ta
	inner join T_YGDA (nolock) tb on ta.WarehouseEmpID = tb.CODE
	inner join TWorkLine (nolock) tc on tb.[NAME] = tc.WorkLineName 
	where 1 = 1 
	and (tc.WorkShop in (select * from @Workshop) OR @pWorkshop = '')
	AND (StoreNo in (select * from @StoreNo) OR @pStoreNo = '')
	and tb.SEX is null
	group by tb.NAME,Zdcode
),
t2b as(
	select ta.WorkLine,Zdcode
	,Sum(case when GxNo = '645' then TotalQty else 0 end) as Total645
	,Sum(case when GxNo = '700' then TotalQty else 0 end) as Total700
	from #TempEmpData ta 
	where 1 = 1 
	and GxNo in ('645','700')
	group by ta.WorkLine,Zdcode
),
t2a as(
	select ta.WorkLine,Zdcode
	,Sum(TotalQty) as TotalChamKeo
	from #TempEmpData ta 
	where 1 = 1 
	and GxCode in (select * from #TempGxChamKeo)
	group by ta.WorkLine,Zdcode
),
t2 as (
select ta.WorkLine,ta.Zdcode,t2a.TotalChamKeo,t2b.Total645,t2b.Total700
from (
	select WorkLine,Zdcode
	from #TempEmpData
	group by WorkLine,Zdcode
) ta 
left join t2a on ta.WorkLine = t2a.WorkLine and ta.Zdcode = t2a.Zdcode
left join t2b on ta.Workline = t2b.WorkLine and ta.Zdcode = t2b.Zdcode
),
t3 as(
	select case when t2.WorkLine is null then t1.Workline else t2.WorkLine end as Workline
		   ,case when t2.Zdcode is null then t1.Zdcode else t2.Zdcode end as Zdcode
		   ,isnull(TotalStoreIn,0) as TotalStoreIn
		   ,isnull(TotalStoreOut,0) as TotalStoreOut
		   ,isnull(Total645,0) as Total645
		   ,case when isnull(Total700,0) > 0 then isnull(Total700,0) else isnull(TotalChamKeo,0) end  as TotalChecked
	from t2 
	full join t1 on t2.WorkLine = t1.Workline and t2.Zdcode = t1.Zdcode
)
select t3.*,ta.SaleNo,ta.Color,ta.MOQty,ta.ShipDate,ta.StyleNo,ROW_NUMBER() OVER (Order by SaleNo,t3.Zdcode,Workline) as RN
from t3
inner join #TempMOInfo ta on t3.Zdcode = ta.Zdcode
Order by SaleNo,t3.Zdcode,Workline
for json path