USE [ROS]
GO
/****** Object:  StoredProcedure [dbo].[SP_EfficiencySummary]    Script Date: 10/28/2021 3:58:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_EfficiencySummary]
 @Factory nvarchar(10) = '',
 @Dept nvarchar(50) = 'DPD1',
 @Workshop nvarchar(50) = '',
 @Workline nvarchar(50) = ''
as

with 
t0 as(
	SELECT *
	FROM [ROS].[dbo].[T_ETS_EmployeeAttendance]
	where 1 = 1
	and Shift_Date = convert(date,GetDate())
	and (Factory = @Factory OR @Factory = '')
	and (WorkShop = @Workshop OR @Workshop = '')
	and (Dept = @Dept OR @Dept = '')
	and (Workline = @Workline OR @Workline = '')
),
t1 as(
	select WorkLineName as Workline,WorkShop,ProductArea as Dept
	from ETSDB_Regina.dbo.TWorkLine(nolock)
	where 1 = 1
	and IsUse = 1
	and SalaryKind = 3
	and (ZhuBie = @Factory OR @Factory = '')
	and (WorkShop = @Workshop OR @Workshop = '')
	and (ProductArea = @Dept OR @Dept = '')
	and (WorkLineName = @Workline OR @Workline = '')
),
t2 as(
select Dept,Workshop,Workline as Workline,Sum(TotalWorkTime) as TotalWorkTime
from t0
where LastSwipeTime is not null
group by Dept,Workshop,Workline
),
t3 as(
	select t1.WorkLine,Sum(TotalSam) as TotalSam
	from t1 
	inner join WorklineSummary (nolock) ta on ta.WorkLine = t1.WorkLine and ta.WorkDate = convert(date,GetDate())
	group by t1.WorkLine
),
t4 as(
	select t2.*,isnull(t3.TotalSam,0) as  TotalSam
	from t2 
	inner join t3 on t2.Workline = t3.Workline collate database_default
)
select *
into #BaseData
from t4;

DECLARE @Result table(
	Base nvarchar(50)
	,TotalWorkTime int
	,TotalSam decimal(18,2)
	,Rate decimal(18,2))

IF(@Workshop != '')
BEGIN
insert into @Result
select Workline as Base
	  ,Sum(TotalWorkTime) as TotalWorkTime
	  ,Sum(TotalSam) as TotalSam
	  ,cast(Round(Sum(TotalSam) / Sum(TotalWorkTime) * 100,2) as decimal(18,2)) as Rate
from #BaseData
group by Workline
END
ELSE IF(@Dept != '')
BEGIN
insert into @Result
select Workshop as Base
	  ,Sum(TotalWorkTime) as TotalWorkTime
	  ,Sum(TotalSam) as TotalSam
	  ,cast(Round(Sum(TotalSam) / Sum(TotalWorkTime) * 100,2) as decimal(18,2)) as Rate
from #BaseData
group by Workshop	
END 
ELSE 
BEGIN
insert into @Result
select Dept as Base
	  ,Sum(TotalWorkTime) as TotalWorkTime
	  ,Sum(TotalSam) as TotalSam
	  ,cast(Round(Sum(TotalSam) / Sum(TotalWorkTime) * 100,2) as decimal(18,2)) as Rate
from #BaseData
group by Dept	
END

select(
select * from @Result
for json path 
) as [Value]